[2017-07-10 12:10] ruKurz opened #1 "Setup a collaborative Smarti development environment"
In long term conditions we want to establish an open source project with a healthy community around it. Therefore some pre conditions have to be full filled. Licensing, Marketing, Documentation, Contributors, etc.

However we like to start anyway. Therefore and for a better transparency we need to have a development infrastructure that is publicly available. Mainly this environment covers:

**Acce

[2017-07-10 13:33] ruKurz opened #2 "Add support for knowledge provider configuration"
This issues aims to extend Smarti for „Knowledge Provider“ configuration support.

As Smarti extracts keywords and other facts from a conversation, these should be used to query external information sources, called knowledge provider. Currently only one Solr endpoint can be configured. In order to attach enterprise search engines or public web searches as google, we need a flexible deployment conf

[2017-07-10 13:57] ruKurz opened #3 "Track UI interactions in order to measure user acceptance"
**This issue aims to track and measure the user acceptance.**

Especially the user interaction gives hints of the usage of Smarti and the relevance of suggestions, need to be tracked. So we are able to get indicators to improve product adoption and result relevance.

First, we focus on product adoption. The main question will be: Do users employ the knowledge base in any manner (clicks, refinement

[2017-07-10 14:05] ruKurz opened #4 "Integrate Smarti using Rocketlets"
As of iteration 1, the integration of Smarti with Rocket.Chat is done at build-time: we need an own repository in order to provide our custom packages.

Rocketlets shall provide a modification free enhancement mechanism which enables to enhance Rocket.Chat at runtime. This will de-couple Assistify from Rocket.Chat release cycles.

We expect a first beta of Rocklets (Rocklet.Chat Plugin-Mechanism).

[2017-07-10 14:06] ruKurz opened #5 "Handle/manage lifecycle of stored conversations"
Once conversations are stored at the Smarti-side, a need arises to manage what's actually being respected for searching related conversations:
Information from particular conversations may become obsolete, some parts may have to be altered or mass-added.

These operations shall happen exclusively at the Smarti-side (without interaction via Rocket.Chat).

- Import conversations (from JSON/XML, #36)

[2017-07-12 14:39] ruKurz opened #6 "Configuration API for knowledge provider"
Issue #2 - "Add support for knowledge provider configuration" requires a management "tool" that allows to change the config at runtime. More over this configuration can differ between several clients / customers. Therefore a Smarti Admin Tool should be implemented. The target group for this backend is the Smarti Admin Team (not customer, consumer or developer).

By solving this issue the main conc

[2017-07-17 09:25] mrsimpson commented on #1
CONTRIBUTIONS.md and other information how to contribute as a raw version shall be provided

[2017-07-17 09:30] mrsimpson commented on #1
@westei: Dependency of redlink-nlp to stanford-NLP (which is GPL-based) has the consequence that no binar distribution including this package can be provided.
=> No RPM/Deb which can be provided in Github, it always needs to be built from source

[2017-07-17 09:37] mrsimpson commented on #3
@tkurz: Piwik looks fine and seems to match-up with requirements

[2017-07-17 09:44] mrsimpson commented on #2
@westei: Underlying structural changes will be applied starting this week:

- Component lifecycle of Spring components: If a user changes configuration, the normal component lifecycle cannot be used, as components are usually being loaded only on application startup
- Customer specific configuration needs to be stored somewhere => Mongo

[2017-07-18 15:33] tkurz opened #7 "Allow configurable proxy for Smarti -> RC communication"
Smarti response to an RC host which is sent by RC on message creation. This should be proxyable. It is necessary that the proxy is configurable via application.properties, like:
[code]
The proxy should be used, if `rocketchat.proxy.hostname` is set.

[2017-07-19 11:12] #7 closed

[2017-07-19 17:24] ruKurz opened #9 "Sharing single messages in LiveChat does not work."
When sharing a single message via Smarti in LiveChat only the label "Ich habe eine passende Nachricht gefunden" is displayed. Not the messages itself.

<img width="345" alt="bildschirmfoto 2017-07-19 um 19 21 49" src="https://user-images.githubusercontent.com/853776/28380428-913fea46-6cb7-11e7-87b4-44934b1a02d7.png">

We're using the RC attachment-function which is obviously not supported by live-

[2017-07-19 17:47] ruKurz opened #10 "Suggestions from external search provider are not being displayed."
When smarti receives a message, the text is being analyzed. Found tokens are extracted which are then used to create a query template. For some reasons the queries for the external search provider are not being constructed. Therefore no search query will be sent.

Here an example response:

[code]

[2017-07-20 07:14] mrsimpson opened #11 "Publish software-component-version of the running instance"
When operating Smarti, it is useful to know which version of the software is running. Thus, the information about

- git commit
- git tag
- alive since <timestamp>

should be exposed.
Proposal: Endpoint such as `/status/version` could export a JSON

[2017-07-20 07:17] mrsimpson opened #12 "Swagger-UI for API"
Smarti already exposes the swagger-definition at `/v2/api-docs`.
However, in order to make this human readable, a swagger-ui shall be provided on smarti itselft.

[2017-07-20 10:48] tkurz commented on #3
Hi. Here are the suggestions for the implementation. Piwik is limited in fields that can be stored for actions (actually only 4, 3 times string, 1 time numeric). But I think the suggestions are a good basis for a solid analysis:

|                              |                                    |        |                             |                               |
|----------------------------

[2017-07-20 11:07] tkurz commented on #3
After a second check it seems like user and rockchatid can set outside of the eventscope. So that is not a problem.

[2017-07-20 11:48] ruKurz commented on #11
http://localhost:8080/system/info

[2017-07-20 13:52] ruKurz opened #13 "When requesting an external Solr endpoint we should support JSONP in order to avoid CORS problem."

[2017-07-20 13:56] ruKurz opened #14 "Add a client configuration option for individual Solr parameters."

[2017-07-20 16:18] ruKurz commented on #14
You should not access RocketChat.Settings at this point as the scripts is able to run outside RocketChat (so the object would be undefined). It would be better to do this on SmartiWidget initialization with options. (new SmartiWidget(element,_options). The options could look like:

[code]

[2017-07-21 11:13] ruKurz opened #17 "Avoid the wording 'dbsearch' in Smarti"
The Smarti implementation should not know anything special about dbsearch. Instead it should provide the generic handling for one or more Solr endpoints

[2017-07-21 11:20] ruKurz opened #18 "numOfResults is never used in smarti widget, use numOfRows instead"

[2017-07-21 11:21] ruKurz opened #19 "a query template query.keyword does not exist"

[2017-07-21 12:49] janrudolph opened #20 "Sending historic conversation in live chat"
When sending a historic conversation in a live chat, the customer will not get the information (see screenshot).

However, there should be a general discussion about this feature in a live chat settings. It might not be favorable to send a customer a historic conversation. Moreover, it might be a better solution to paste the historic conversation in the agent's input field. The agent is then able

[2017-07-21 13:04] janrudolph opened #21 "Open Question: How do we handle permissions for historic conversations?"
Currently, smarti suggests historic conversations in every ongoing conversation. It does not matter whether the topic, which is currently discussed, has a relationship to conversations already stored. For suggestions, smarti uses the whole sample and not just a subset (e.g. just the conversations with a special topic).

This might be problematic in the following situation:
Imagine there are differ

[2017-07-21 13:09] janrudolph opened #22 "Open Question: Handling enterprise search tags"
When sharing a historic conversation (pressing the send button), the search tags for enterprise search get updated. The tags and search results might change. Due to the fact, that the new information has a different character (they were not extracted in the "real" ongoing conversation) the search results might be biased.

How do we handle that?

[2017-07-21 13:12] janrudolph opened #23 "Do not send suggestions directly"
Currently, the send button of a suggestion (historic conversation) sends the information directly in the channel. A better solution is to insert the suggestion in the input field making it customizable.

[2017-07-24 05:41] tkurz commented on #23
Mhh. IMHO that is a quite hacky integration because it has to be done via UI. At least I would provide both functionalities.

[2017-07-24 06:58] tkurz commented on #20
I think is is a major issue of the frontent plugin of the RC livechat. The messages that sent use the regular RC attachments https://rocket.chat/docs/developer-guides/rest-api/chat/postmessage (which are nit displayed by the client unfortunately). There is some progress in this direction (at leas t for file-upload). https://github.com/RocketChat/Rocket.Chat/issues?utf8=%E2%9C%93&q=attachment%20in%

[2017-07-24 07:02] tkurz commented on #22
The best approach IMHO would be to exclude (or at least handle differently) the messages that are added by the widget (the backend already gets this informations). In addition there is a need of token "aging". @westei what do you think.

[2017-07-24 07:04] tkurz commented on #21
What would fix the issue: filter the related conversation by context. Would this be a suitable option. Maybe we make this configurable?

[2017-07-24 07:05] #19 closed

[2017-07-24 07:05] tkurz commented on #19
It seems like @ruKurz fixes closed the issue

[2017-07-24 07:06] #18 closed

[2017-07-24 07:06] tkurz commented on #18
@ruKurz changes fixed the issue

[2017-07-24 07:25] tkurz opened #24 "Cleanup message topics"
In *MessageTopics* we still have many many topics that are not required any more.
Those not used should be removed.

[2017-07-24 07:28] tkurz opened #25 "Clarify errors on stderr"
I'm having multiple FactoredParser: no consistent parse [hit A*-blocked edges, aborting]. on stderr.

[2017-07-24 07:32] tkurz opened #26 "Smari RC widget should use Rocketlet Infrastructure"
Though it was convenient with respect to reducing the number of requests between widget and smart-server to submit the analysis back to the incoming web hook in Rocket.Chat, I propose not to send data - but only a timestamp of the last message analyzed and error code: This trigger can then be propagated to the widget in order to GET the latest results. Else, a huge amount of information would be r

[2017-07-24 07:47] tkurz opened #27 "Describe new query provider concept"
In order to enable contributors to understand and use the new provider configuration concept #2 it has to be documents on docs.

[2017-07-24 07:50] #26 closed

[2017-07-24 07:50] tkurz commented on #26
It is a duplicate of #4

[2017-07-24 08:08] #10 closed

[2017-07-24 08:09] #13 closed

[2017-07-24 08:09] #14 closed

[2017-07-24 08:54] ruKurz commented on #3
Since multiple clients can run on the same Smarti instance.  It is important to have a report that distinguishes those clients (knowledge domains).

[2017-07-24 09:00] ruKurz commented on #20
I think this is a duplication of: https://github.com/redlink-gmbh/smarti/issues/9

[2017-07-24 09:10] ruKurz opened #28 "How to package and distribute Smarti with respect to licence?"

[2017-07-24 09:37] ruKurz opened #29 "Configuration UI for knowledge provider"
The configuration of knowledge provider should be done by none technical persons. Therefore we need a user friendly admin UI, that allows changing knowledge provider related options.

Issue #2 - "Add support for knowledge provider configuration" requires a management "tool" that allows to change the config at runtime. Issue #6 - "Configuration API for knowledge provider" specifies and implements t

[2017-07-24 09:45] ruKurz opened #30 "The "default" titles when sharing a conversation should not be shown"

[2017-07-24 09:46] ruKurz opened #31 "Greetings should not be extracted"
<img width="1177" alt="bildschirmfoto 2017-07-24 um 09 48 39" src="https://user-images.githubusercontent.com/853776/28517685-8a500714-7065-11e7-94ce-9d6917a4a026.png">

[2017-07-24 09:58] #30 closed

[2017-07-24 11:13] ruKurz opened #32 "API for conversation management"
Issue #5  - "Handle/manage lifecycle of stored conversations" requires a management "tool" that allows to delete/change conversations stored in Smarti at runtime. Therefore a Smarti Admin Tool should be implemented. The target group for this backend is the Smarti Admin Team (not customer, consumer or developer).

**Acceptance criteria**

- [ ] A client specific configuration API that allows managi

[2017-07-24 11:16] ruKurz opened #33 "UI for conversation management"

[2017-07-24 11:20] ruKurz commented on #33
The management of conversations should be done by none technical persons. Therefore we need a user friendly admin UI, that allows managing stored conversations.

Issue #5 - "Handle/manage lifecycle of stored conversations" requires a management "tool" that allows to manage stored conversations. Issue #32 specifies and implements the according API.

**Acceptance criteria**
- [ ] The configuration o

[2017-07-24 11:34] tkurz commented on #3
@mistay The list has been updated

[2017-07-25 08:16] westei commented on #27
We will need to make changes to the way query providers currently work to support multiple configurations for a single `QueryProvider`implementation. Currently queries reference their QueryProvider via the `creator` field. In cases where multiple configurations are present for a single creator this is no longer sufficient.

[2017-07-25 08:48] mrsimpson commented on #27
Who says a creator cannot be a configuration? One could also think of a creator being the configuration and the runtime entity being something new (e. g. "provider"

[2017-07-25 08:50] mrsimpson commented on #27
@westei I'm anyway a bit confused nowadays that the historic conversations Query and the enterprise search query match different templates. From what I understood so far, a template defines the intention of the conversation. For both the mentioned queries, the intention is "information retrieval", isn't it?

[2017-07-25 09:00] westei commented on #27
currently the `creator` is used on the server side to obtain the `QueryProvider` implementation from the `QueryProviderRegistry`. So this needs to be a unique identifier provided per implementation and not per configuration.

The was the theory, but practically a Template provides a structured view onto information extracted from the conversation and their might be different views for different ki

[2017-07-25 12:50] tkurz commented on #11
Functionality is already provided with system info

[2017-07-25 12:50] #11 closed

[2017-07-25 12:50] #20 closed

[2017-07-25 12:52] tkurz commented on #9
@janrudolph @ruKurz I will make it configurable, if a message is posted directly or just suggested in the input field (as a link)

[2017-07-25 13:28] janrudolph commented on #9
@tkurz Excellent!

[2017-07-25 13:45] tkurz commented on #3
sidebar.open event is not easy to track as the interaction is also fired automatically when entering a room with knowledgebase enabled.

[2017-07-25 15:31] tkurz commented on #3
Implemented and merged to develop branch

[2017-07-25 15:32] #1 closed

[2017-07-25 15:32] #3 closed

[2017-07-26 07:23] tkurz opened #34 "Extract URLs not as keyword but as Link"
Currently URLs are extracted as nouns. They should be marked as Links (and not used in e.g. fulltext searches).

[2017-07-26 10:17] tkurz commented on #9
this is now configurable by instantiate the plugin with an option:
`inputFieldSelector: 'some css selector'`.
By default this values is set to `message-form-text.input-message` (RC input field), so sending messages via api is disabled (because of the issues with livechat). If you want to enable direct sending, just set the `inputFieldSelector: undefined`.

[2017-07-26 10:17] #9 closed

[2017-07-26 10:18] tkurz commented on #27
The concept (API) ist described in https://github.com/redlink-gmbh/smarti/blob/smarti-config/docs/clientConfig.md.

[2017-07-26 10:18] #27 closed

[2017-07-26 10:20] tkurz commented on #34
This feature is basically implemented (in the development branch) but net yet sufficiently tested.

[2017-07-28 09:19] janrudolph commented on #3
Default case on mobile devices: sidebar is closed when opening a channel

[2017-07-28 09:35] tkurz opened #35 "Make it configurable how smarti widget handles posts"

[2017-07-28 13:31] tkurz commented on #35
There are three different ways how a post could be handled:
* **suggestText**: Inserts text in chat input field (configured by cssSelector), the send button must be pressed from user
* **postText**: The api is used to send text message
* **postRichText**: The api is used to send text + attachments

The widget should allow configuration for this behaviour, like:
[code]

[2017-08-04 13:48] ruKurz opened #36 "Add a web service that provides conversation imports"

[2017-08-07 09:28] tkurz commented on #17
Check also DBSystel related wordings (and RC?)

[2017-08-07 09:35] tkurz commented on #28
Currently one GPL licence is bundled. This should not be bundled but downloaded and copied to classpath as part of the installation script.

[2017-08-07 09:39] tkurz commented on #31
It would be the best to enable configurable stopword lists.

[2017-08-11 11:24] janrudolph opened #38 "Rocket.Chat Plugin - Removing "Dies habe ich in vergangenen Konversationen gefunden“ and the User ID when using a suggestion"
**Issue***

Part 1:
When copying a smarti suggestion (historic conversation) into the input field in order to edit the text, the description "Dies habe ich in vergangenen Konversationen gefunden“  is added.
Usually the user will remove this text because it might not fit to the message the user likes to post.

Part 2:
Moreover, the text includes the user id of the user who originally posted the ans

[2017-08-11 12:11] janrudolph opened #39 "Smarti Widget: Enable paging and make number of suggestions configurable"
**Issue**
When a high number of historic suggestions is available, the list is becoming pretty long in the RocketChat widget. This is not very user-friendly.

**Possible Solution**
Add paging for historic conversations and adding a configuration for the number of displayed elements.

[2017-08-11 12:17] janrudolph opened #40 "Rocket.Chat Plugin: Rename button "Hilfe beenden""
**Issue**
When closing a request / livechat, one user will use the button "Hilfe beenden". The button will close the room. However, a user might  think that pressing the button will just close the knowledge base and not the room(feedback from real user).

**Solution**
Rename the button in "Chat beenden".

[2017-08-14 06:15] janrudolph commented on #40
Moved to: https://github.com/mrsimpson/Rocket.Chat/issues/69

[2017-08-14 06:15] #40 closed

[2017-08-16 11:42] tkurz opened #41 "Queries in conversations are not valid deserialized"
The queries in the conversations are not valid serialized as the specific subclass but as superclass and thus misses specific properties. (e.g. SolrSearchQuery includes mappings that are relevant for the UI).

[2017-08-17 08:59] westei commented on #41
turned out to be caused by the `ConversationRepository#saveIfNotLastModifiedAfter(..)` not correctly constructing the update request. Those methods need to use `MongoTemplate#getConverter()` to convert the domain object to mongo BSON. Otherwise things provided by Spring magic (like `_class`) will be missing and later Spring will no longer be able to correctly map data stored in Mongo

[2017-08-17 08:59] #41 closed

[2017-08-17 09:00] westei commented on #2
Configuration for the generic SolrQuery provider

[code]

[2017-08-17 10:18] ruKurz commented on #28
please provide an information in the health check if the NLP-components are missing

[2017-08-18 08:03] tkurz opened #42 "notifyRocketChat is called twice"
If you send a message to the RC Endpoint the notify method is called twice.

[2017-08-18 11:18] ja-fra commented on #42
Sorry, can't reproduce the issue.

[2017-08-21 07:03] ja-fra commented on #42
Checked again with 60871707f6bb4633d3247c673d5713564a1ec267 - still not able to reproduce

[2017-08-21 07:03] #42 closed

[2017-08-21 08:01] mrsimpson opened #43 "Configurable extraction of interesting terms per client"
Currently, interesting terms are being extracted from two solr-cores with a defined semantic: Wikipedia and the DB Systel crawl.
It shall be possible to load an unlimited number of cores ("unlimited" in the sense of not limited by the application). Per client, the cores used for the extraction of interesting terms shall be configurable

[2017-08-21 08:03] mrsimpson opened #44 "Use embedded Solr for queries"
Currently, an embedded Solr can be used for the extraction of interesting terms.
Each of those cores somehow defines the domain of a particular client (see #43).
It shall be possible to address theses cores for the configurable Solr query provider.

[2017-08-21 09:46] mrsimpson opened #45 "Clone a default configuration"
In order to simplify configuration, a templating of configurations shall be possible:

- There shall be an option to mark a particular configuration as default
- For each configuration, there shall be an action to copy from the default configuration. This shall raise an error if no default config exists
- If a message is received for a client which is not configured yet, a configuration with a cop

[2017-08-21 09:58] ja-fra commented on #17
With #6 implemented, we also should get rid of legacy query-providers

[2017-08-21 10:01] mrsimpson commented on #5
It shall be possible to apply mass-changes to conversations. For this, http-`PATCH` shall be possible.
For illustrative purposes: `PATCH` to `/conversation/?client="myOldClient"`
[code]

[2017-08-21 10:02] tkurz opened #46 "Check if relevant conversations are shared across clients"
This would be a bug!

[2017-08-22 19:37] ruKurz opened #48 "'service smarti stop' fails because pid not found"
[code]

Installed from RPM build.
Amazon Linux AMI 2017.03.1.20170812 x86_64 HVM
4.9.38-16.35.amzn1.x86_64 #1 SMP Sat Aug 5 01:39:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[code]

[code]

[2017-08-22 19:44] ruKurz opened #49 "Loading stanfordNlpProcessor fails even the jars are placed in ext folder"
**At server startup**
[code]

**directory listing**
[code]

**allocated files see in attached classpath.txt**
[classpath.txt](https://github.com/redlink-gmbh/smarti/files/1243164/classpath.txt)

**Related Code References**
- https://github.com/redlink-gmbh/smarti/blob/release_0.4.0/application/pom.xml#L347
- https://github.com/redlink-gmbh/smarti/blob/release_0.4.0/application/src/main/java/io/red

[2017-08-23 09:53] ruKurz commented on #49
@ja-fra Did you find a workaround. That would be really helpful.

[2017-08-23 12:10] ja-fra commented on #49
@ruKurz, I did, and it's embarrassing simple:
[code]

[2017-08-23 12:11] ja-fra commented on #48
see https://github.com/redlink-gmbh/smarti/issues/49#issuecomment-324309340 for a possible workaround

[2017-08-24 05:57] ruKurz opened #51 "The client name string pattern does not support '.' (dots)"
Within client names dots should be allowed for backward compatibility reasons.

Currently client names containg dots are failing because the client name pattern: `[a-z0-9-_:]+` does not match:
[code]

The pattern in should be adhusted accordingly: `[a-z0-9-_:.]+`
io/redlink/smarti/services/ClientService.java#27

[2017-08-24 06:27] westei commented on #51
changed the pattern to `[a-z0-9-_\.:]+`

[2017-08-24 06:27] #51 closed

[2017-08-24 06:44] ruKurz opened #52 "Add support for edited messages"
If a user changes a message within the chat app (e.g. Rocket.Chat) this message should be changed in Smarti as well.

Szenario: Spellchecking / Correction

[2017-08-24 06:47] westei commented on #31
Checked why `Hi` is considered a search term:

OpenNLP classifies `Hi` as an Person

```i.r.nlp.opennlp.OpenNlpNerProcessor      :  - Named Entity [0,2 | prob: 0.136, tag: PER, type: pers] Hi```

what makes sense as their could as well be a Person on that place in the sentence (e.g. `Rüdiger, wie kann ich eine Nachricht fett machen?`)

[2017-08-24 11:59] westei commented on #31
**Cause:** wrong classification of `Hi` by the POS tagger

**Suggested Solution:**

One possibility would be a component that filters Tokens based on predefined rules - in the simplest case as stopword list. However one could also imagine more complex filter (e.g rule based, regex based, token type based, token hint based ...) filters

[2017-08-24 20:17] #28 closed

[2017-08-24 20:17] #17 closed

[2017-08-24 20:17] #48 closed

[2017-08-25 07:25] #45 closed

[2017-08-25 07:25] #49 closed

[2017-08-25 07:27] #2 closed

[2017-08-25 07:28] #6 closed

[2017-08-25 07:28] #23 closed

[2017-08-25 07:29] #29 closed

[2017-08-25 07:30] #34 closed

[2017-08-25 11:14] westei commented on #31
Implemented a `TokenFilter` infrastructure with currently a single TokenFilter implementation that takes a stopword list to check `Token#getValue()` against.

Stopword lists are language specific incl. a default list that is used for any lanugage (in addition to language specific words)

Matching uses smart case sensitivity. Meaning that all upper case words are matched case sensitive and all othe

[2017-08-25 11:15] westei commented on #31
TODOs: This does currently only support a single global configuration. For client specific configuration one needs first to support client specific analysis pipelines.

[2017-08-25 13:57] tkurz opened #53 "Recalculate queries if configuration has changed"
Currently when changing a configuration, we go "outdated" queries in the conversations (which leads to 404 when asking for inline results). In addition a change in the configuration just affects conversations when new messages come in. This could be changed like this: When retrieving a conversation, check, if the last modification is "older" than the last modification of the client configuration.

[2017-08-28 07:14] westei commented on #46
**NOTE**: Conversations of other clients where *never* suggested. However the `Conversation#getContext()#getDomain()` field was used and the usage of this field to differentiate different clients is deprecated since the last release.

With this issue implemented the Conversation Indexing now indexes the clientId (with fallback to the old `Conversation#getContext()#getDomain()` to support old conve

[2017-08-28 08:55] #35 closed

[2017-08-28 09:22] ruKurz opened #54 "Design a version model"
In order for migrating Smarti a version concept has to be designed.

- Conversation model (Which data model stores a conversation)
- Client configuration (Which QueryBuilder have been executed on that conversation)
- Analysis processor (Which analyzer has been used for intent analysis)

[2017-08-28 09:34] tkurz opened #55 "Document Smarti Properties"
A list of possible smarti properties which can be set in application.properties should be documented.

https://github.com/redlink-gmbh/smarti/blob/develop/docs/installation.adoc#application-configuration

[2017-08-28 09:36] ruKurz commented on #55
Take the right configuration class of Spring and generate the doc.

[2017-08-28 09:52] tkurz commented on #5
To be clarified: Which are the service consumer roles. This roles have to be defined, e.g.
* Admin: Can Read/Update/Delete messages for all client / (Mass-) Import messages / Configure Clients
* Client-Editor: Can Read/Update/Delete his own messages
* Autor:

[2017-08-28 10:13] tkurz commented on #5
The concept we will implement is "API-drive" permissions. Thereby a role is defined as a set of API calls the role is able to run.

[2017-08-28 10:25] tkurz opened #56 "Introduce and Apply Client Model (as pre-requirement for user authentication)"
U user authentication model should allow to enable access management on webservice level.

**NOTE:** This Issue got split in two parts:
* this concentrates on the model changes for Conversation and Configuration so that the Client is correctly referenced by its `id`
* the word on the user authentication was moved to #60 and will be implemented in the next sprint

[2017-08-28 10:27] tkurz commented on #54
This mixes model (database) migration strategy and data migration.

[2017-08-28 10:36] tkurz commented on #21
Depends in #56

[2017-08-30 14:19] janrudolph commented on #21
@tkurz do we need the user authentication model to implement this issue, or is the filter still an option?

[2017-08-30 14:46] ruKurz commented on #56
@tkurz depends https://github.com/redlink-gmbh/smarti/issues/5 on this issue?

[2017-08-30 15:08] ruKurz commented on #21
There are tow points of view here:

*Filter only*
A filter or something else to narrow down the results should be suitable from a business perspective, if there is no need to prevent the "knowledge access". Meaning that there is no secret to protect inside the suggestions.

*Secured by user/groups*
If there is the need to protect data within the same client a user authentication must be implemente

[2017-08-30 15:08] ruKurz commented on #21
There are tow points of view here:

*Filter only*
A filter or something else to narrow down the results should be suitable from a business perspective, if there is no need to prevent the "knowledge access". Meaning that there is no secret to protect inside the suggestions.

*Secured by user/groups*
If there is the need to protect data within the same client a user authentication must be implemente

[2017-08-31 05:41] westei commented on #46
NOTE: I merged the branch of #56 into this issues branch as those two are related.

[2017-08-31 06:07] westei commented on #43
This requires client specific analysis pipelines and Configuration Support for Processors in the analysis pipeline

[2017-08-31 06:15] westei commented on #44
@mrsimpson I do not fully understand this issue. Interesting terms are not (directly) related to `QueryProvider`. The concept of Interesting terms is used to detect important words in the conversation (based on their `tf/itf` in a corpus).

Those information are later used to add `Tokens` of the type `keyword` to the conversation and those keywords may or may not be used by query providers such as

[2017-08-31 07:40] mrsimpson commented on #44
@westei: Yes, the bottom line is that indices in the embedded Solr should be usable for retrieving query results via the configurable `SolrSearchQueryBuilder`.

And also you're right: The issue description was not comprehensive. Sorry about that, let me elaborate the intention: Currently, those cores are only used for interesting terms. However, think about the following: A client has some set of

[2017-08-31 14:21] janrudolph opened #58 "Rating historic conversations"
**New Feature Request**

As user, I can rate historic conversations based on its relevance in order to highlight top-answers/conversations.

[2017-09-01 06:18] westei commented on #56
I have updated the Client Model as follows:

* `Client` has an unique index on `name`
* `Configuration` now refers the `Client#id` instead of the name
    * was `Client#name` in `0.4.0`
* `Conversation` now refers the `Client#id` in the (new) `Configuration#owner` field
   * in `0.4.0` the `Client#name` was referenced by `Conversation#clientId`
   * before `0.4.0` the `Client#name` was referenced

[2017-09-01 10:34] westei commented on #56
The new client model is merged back into the development branch (together with changes related to #46 and #53). Authentication related changes can be further developed in the `feature/56-authentication` branch

[2017-09-04 09:18] ruKurz commented on #56
Please provide migration instructions when delivering the release 0.5.0. Thx.

[2017-09-04 09:23] ruKurz commented on #55
Result will be:

- one full example file with comments AND/OR
- combination of mark down and example file

[2017-09-04 10:23] ruKurz commented on #31
@westei did you add your comment to the documentation?

[2017-09-04 10:25] mrsimpson commented on #43
Note to myself: It might be more appropriate to implement those client-specific requirements not on the application layer, but instead to deploy multiple (virtual) machines

[2017-09-04 21:04] ruKurz commented on #56
@tkurz can you please split this issue: One for updating the client model and one for the authentication part?

[2017-09-05 09:04] ja-fra opened #59 "Conversations should have an expiration date"
`Conversation`s shall have an expiration date which determines until when that conversation can be found in the various sources (_related conversations_)

This issue is caused by #5

[2017-09-06 06:33] westei commented on #55
Hope I found all the available configuration options. Even included the config option for SolrLib also documented [here](https://github.com/redlink-gmbh/solrlib/) to have everything in a single place.

Documentation for the config properties is in two places

1. docs/smarticonfig.adoc
2. dist/src/deb/main/resources/application.properties: the file copied to `etc/smarti/application.properties` when

[2017-09-06 07:44] westei commented on #56
The migration script from `0.3 -> 0.5` (unreleased) is available. It contains a default configuration for created `Client` at the end. Within this default configuration their is also a template for a Solr Endpoint Configuration.

@ruKurz, @mrsimpson :  The DB Search Query Builder was removed with 0.4 so when migrating to 0.5 you will need to recreate the functionality of the DB Search Query Builde

[2017-09-06 07:52] westei commented on #31
Added to [Stopword Token Filter](https://github.com/redlink-gmbh/smarti/blob/develop/docs/smartiConfig.adoc#token-filter-stopword) section of the Samrti Configuration documentation

[2017-09-06 07:59] westei opened #60 "Define and Implement a user authentication model"
-- The 2nd part of Issue #56 --

User authentication model should allow to enable access management on webservice level.

[2017-09-06 08:11] westei commented on #44
The problem is that the Solr Interesting Term component uses the Solr REST services. However the Wikipedia and Systel Crawl indexes used for interesting terms are currently made available on an embedded SolrServer.

Would they be deployed on a standalone Solr or an SolrCloud one they could already be used by a proper configured Solr Endpoint Configuration.

Adding support for embedded Solr Servers

[2017-09-06 14:59] ruKurz commented on #56
@westei When Thomas and me tried migrating on version 0.4 I already created a client configuration on out IAT environment including a Solr config for DB Search. So I'm almost familiar with creating a config. Thanks for the hint: Do this before running the scripts ;-)

So we have a client configuration for DB Search based on version 0.4. Do you recommend deleting this, in case of a migration from 0

[2017-09-06 15:01] ruKurz commented on #56
Finally it would be nice to have this Issue and its results documented somewhere else. @westei Thanks for commenting on that detailed level ...

[2017-09-08 08:13] janrudolph opened #62 "Feature Request: Conversation-independent search within Rocket.Chat"
**Situation**:
Users ask questions, discuss possible solutions and find the right answer. After a typical question/answer process, the users finish the conversation and the conversation is stored in Smarti. The system deletes the users' subscriptions and the conversation disappears.

Later, a user might remind that there was a conversation, which could help in a new situation. The user likes to lo

[2017-09-08 08:19] janrudolph opened #63 "Storing conversation classification in smarti"
According to my understanding, we do not store a conversation classification (topic / theme) in smarti right now. In the Rocket.Chat request mode, we provide a classification and therefore should store this in smarti as well.

[2017-09-08 08:23] janrudolph commented on #21
I think we should have a look on filters first. From a UX perspective it does not make sense to display historic conversations which do not relate to the current topic.

[2017-09-08 08:31] janrudolph commented on #21
I added a related issue in our Rocket.Chat repository: https://github.com/mrsimpson/Rocket.Chat/issues/91

[2017-09-08 08:40] ja-fra commented on #33
todo: fix `$inject` problems in conversation-controller

[2017-09-08 08:46] ruKurz commented on #12
http://localhost:8080/swagger-ui.html

[2017-09-08 08:52] ja-fra opened #64 "Generate swagger.json on build-time"
see e.g. https://github.com/kongchen/swagger-maven-plugin

[2017-09-08 08:52] ruKurz opened #65 "Add conversationId to response when creating a new conversation via Rocket.Chat endpoint."

[2017-09-08 08:56] ruKurz opened #66 "Document RC webhook post format"

[2017-09-08 08:57] ruKurz opened #67 "How to send meta data with a message"

[2017-09-08 10:44] ja-fra commented on #56
@ruKurz reported an error when running the migration-script `0.3-to-0.5.js`:
[code]

[2017-09-08 10:51] ruKurz commented on #55
Didn't read the whole doc. But this issue is definitely done.

[2017-09-08 10:52] #55 closed

[2017-09-08 10:55] mrsimpson commented on #64
target: Make Maven build the swagger.json and a static html-page. The html could then be copied to the documentation-branch by Travis.
Consequently, this could be divided in two POMs: the json as part of the application, the html in `docs`

[2017-09-08 12:42] ruKurz commented on #12
We should bring this URL to some documentation file.

[2017-09-08 12:43] ruKurz commented on #12
Related: https://github.com/redlink-gmbh/smarti/issues/64

[2017-09-11 07:07] ruKurz opened #68 "When editing a message within Rocket.Chat the message within smarti is not being updated"

[2017-09-11 07:08] ruKurz opened #69 "Add support for voting messages"

[2017-09-11 09:58] ruKurz commented on #68
Dulicated #55

[2017-09-11 10:22] westei commented on #63
How is this information available in Rocket.Chat? The Rocket.Chat Endpoint would need acquire those information and add them to the Conversation.

[2017-09-12 07:05] janrudolph commented on #63
The classification is exposed by the room type / room name (used in the URL).

[2017-09-12 08:48] ruKurz opened #70 "Could you please describe the workflow for interacting with the conversational API?"
* The chat server sends the message to Smarti via `POST / rocket / {clientId}`.
* Smarti answers to the chat server via a web hook as soon as the processing of the message has been completed.
* The chat server calls `GET / conversation / {conversationId} / template` and extracts the correct values ​​for` template` and `creator` from the result.
* The chat server calls `GET / conversation / {conver

[2017-09-12 08:53] ruKurz opened #71 "Should I only send the customer's messages to Smarti API or should I send messages from the agents as well?"
The agent's response may also contain keywords, entities, phrases, etc. that allow a more accurate search. In our implementation, we send the full news flow to Smarti.

[2017-09-12 08:57] ruKurz opened #72 "I've send a lot of messages to Smarti, but I do not get any suggestions, even I enter the same question"
A conversation consists of multiple messages send by different `callers`. In oder to make a conversation available as suggestion, it is required to call:

[code]

Only with this call, a guided conversation will be displayed in future conversations.
If / publish is not called, the conversation is not retrieved.

[2017-09-12 08:59] ruKurz opened #73 "Do I have to wait for the webhook's response after sending a `POST/rocket/{clientId}`"
The retrieval of proposals `GET/conversation/{id}/template/{template}/{creator}` is complete only when the processing of the webhook has been completed. Messages, can be transmitted at any time at any frequency and speed.

[2017-09-12 09:01] ruKurz opened #74 "Do the answers always refer to the last message within a conversation?"
The suggestions always refer to the entire conversation.
A conversation is the sum of all messages within a room.
As long as every single message of a conversation has been sent to Smarti, all of them are considered by Smarti for retrieving suggestions.

[2017-09-12 09:04] ruKurz opened #75 "How can I tell Smarti to return suggestions for the agent only and not for the customer?"
Just call `GET/conversation/{id}/template/{template}/{creator}` on the agent's chat and not on the clients/customers side. Smarti knows the conversation and can offer a lot of suggestions. Whoever calls `GET/conversation/{id}/template/{template}/{creator}` get's the suggestions for a specific conversation. The application is responsible for who the suggestions are displayed.

[2017-09-12 09:13] ruKurz opened #76 "What value should be passed by the chat as `clientID`?"
Since Smarti has a multi client architecture. We need a per `customer` configuration.
The `clientID` is a unique String (`[a-z0-9-_\.:]+`), that identifies one configuration. All conversations refer exact one client. This concept enables to protect conversation access across clients.

Related: https://github.com/redlink-gmbh/smarti/issues/51

[2017-09-12 09:16] ruKurz opened #77 "Does the `channel_name` have to be unique?"
The channel name does not have to be unique.
The channel name is displayed often to the end user.
Typically it is unique per client.

[2017-09-12 09:17] ruKurz opened #78 "Is the real name of the employee / customer required in `user_name`?"
The `user_name` is optional.
Do whatever you like ;-)

[2017-09-12 09:18] ruKurz opened #79 "I need a detailed description of how to extract the correct values ​​for `template` and `creator` from the response of `GET/conversation/{conversationId}/template`"
**1. Get the intent templates for a conversation (returns a list of providers that have matching content for the given conversation)**

- abstract: `http(s)://${smarti-host}:${smarti-port}/conversation/{conversationId}/template`
- concrete: `https://localhost:8080/conversation/59ed91d9de10751739a82358/template`

This call will return all templates that match the given conversation. A template is d

[2017-09-12 09:30] ruKurz opened #80 "Improve API documentation"
The swagger file, is not self explaining.

The general workflow / usage has to be described for non Smarti developers.

Optional and non optional attributes are not marked explicitly.
The semantic of fields like ids should be described as well as the general purpose of API methods.

How to handle the response / suggestions when calling:
`GET /conversation/{conversationId}/template`
must be explain

[2017-09-12 14:40] ruKurz opened #81 "Can I delete the Solr-Directory on a production system?"
After updating from version `0.3.x` to `0.5.0-RC3` there are some Solr related errors that prevent to start the application.

`org.apache.solr.common.SolrException: ERROR: [doc=598b272488fe295d5b4c9c0a_hQeH4NcFDGdhX9BRX] unknown field 'owner'`

After deleting the Solr work directory., the application came up again.
Previous conversations are suggested.
Also the keyword extraction works and there a

[2017-09-12 15:27] ruKurz commented on #81
After deleting my Solr index directory. The application came up again.
Can I delete the Solr-Directory on a production system?
Will the index be recreated automatically?

[2017-09-12 16:09] ruKurz commented on #81
Previous conversations are suggested.
As well I configured a Solr endpoint successfully.

[2017-09-12 18:00] ruKurz commented on #49
There is a chapter for this issue in the troubleshooting guide.
https://assistify.github.io/smarti/#_external_libraries_not_found_or_not_readable

[2017-09-12 18:27] #32 closed

[2017-09-12 18:27] #33 closed

[2017-09-12 18:59] #12 closed

[2017-09-12 18:59] #53 closed

[2017-09-12 19:01] ruKurz commented on #56
The script works now. But there are some other issues.

#81 must be fixed or a workaround has to be found, before we can release.

[2017-09-12 19:01] #46 closed

[2017-09-12 19:03] ruKurz commented on #31
Before shipping this, we need to setup a test scenario. I'm working on it.

[2017-09-12 20:45] westei commented on #81
Hi,

The conversation core need to be deleted when upgrading to 0.5.0 as this version comes with schema changes. The conversation are re-indexed at startup in cases the Solr Core got deleted.

[2017-09-12 20:47] ruKurz commented on #81
Great! Let's make a release

[2017-09-13 09:38] #81 closed

[2017-09-13 09:38] #56 closed

[2017-09-15 07:32] #31 closed

[2017-09-15 08:11] ruKurz opened #82 "How to configure the number of suggested conversations?"

[2017-09-15 08:15] ruKurz opened #83 "What is the semantic of Solr search query builder configuration parameters 'type' and 'doctype'"
The documentation says:

type: the type of the result
doctype: the document type of the result (e.g. text/html)

so doctype is equal to mime type, is that right?

and what is type and where are these parameters used for?

[2017-09-15 08:19] ruKurz opened #84 "Documentation for Query Builders 'related-conversations' and 'conversationsearch' is missing."
The two query builders 'related-conversations' and 'conversationsearch' are not part of the documentation. Which configuration options are provided in a client config? And what's the general purpose of this components?

[2017-09-18 08:47] ruKurz commented on #82
@see #39

[2017-09-18 09:29] janrudolph opened #85 "Internet search by Bing Custom Search"
Enable users to search through custom websites by using the Bing Custom Search (https://azure.microsoft.com/en-us/services/cognitive-services/bing-custom-search/).

[2017-09-18 09:38] mrsimpson opened #86 "New Conversation API"
Currently, there is an endpoint specific to Rocket.Chat - without any dedicated semantic.
Actually, `rocket` was provided in order to be ready for consumption from a Rocket-Chat-Webhook.
As we do have a custom enhancement in Rocket.Chat, this is not necessary anymore. => Conversations needs to support the client

[2017-09-18 09:42] mrsimpson opened #87 "Filter related conversations based on expertises"
Currently, expertises on the Chat-Side are some kind of manual classification. When finding related conversations, those expertises define a semantical domain, which defines the relevance of the conversations to be searched for.
It shall be possible to submit labels as metadata  to conversations which then filter the related ones.
Optionally, it may be beneficial to also be able to boost based on

[2017-09-18 09:49] ja-fra commented on #67
Define and implement how the (chat-)client can send additional meta-data related to the conversation.

This feature is required for #87

[2017-09-18 10:11] mrsimpson commented on #86
@tkurz Rocket.Chat plugin needs to be adapted as well - not only the widget

[2017-09-18 10:15] ruKurz opened #88 "Move dev to github/assistify"

[2017-09-20 08:48] janrudolph opened #89 "Internationalization and customization of UI-texts in Smarti"
Provided by @mrsimpson

Currently, UI text elements in the Smarti widget are not customizable: There is a library already being used, but as far as I could see no option for providing translation strings.
As an administrator of Smarti I want to change UI-texts without building a new software component version.

[2017-09-21 13:34] janrudolph commented on #87
**User Story**

As user I want to get historic conversation which relate to the current topic (expert area) so that I find results faster.

**Acceptance Criteria:**
- When a conversation is stored, the topic of the conversation (= classification) is attached to the conversation.
- When a user posts a new request, Smarti will only *return* historic conversations which relate to the same topic.
- Th

[2017-09-21 13:44] janrudolph commented on #62
**User Story**
As user I want to find historic conversations based on keywords so that I can look-up solutions without starting a conversation.

Acceptance Criteria:
- Search integrates into the chat application's UI.
- Filtering on topic is possible.

@mrsimpson Should we move this issue to our Rocket.Chat branch?

[2017-09-21 17:00] ruKurz opened #90 "Displaying the document icons in the Smarti Widget does not work"
![image](https://user-images.githubusercontent.com/853776/30708513-76891144-9eff-11e7-869a-68a1a8fcaaff.png)

[2017-09-21 17:01] ruKurz commented on #90
![bildschirmfoto 2017-09-21 um 19 01 07](https://user-images.githubusercontent.com/853776/30708472-5084a9b8-9eff-11e7-8865-a8a7f014267f.png)

[2017-09-21 17:04] ruKurz opened #91 "Prefix before suggestion provider should not be displayed."
![image](https://user-images.githubusercontent.com/853776/30708594-b859ec42-9eff-11e7-9ea5-56007356e42e.png)

[2017-09-21 17:08] ruKurz opened #92 "For existing conversations there are no Solr search results displayed after upgrading from 0.3.0 to 0.5.0"
There are some direct related log entries:

[code]

When Starting a new conversation Solr Search results are displayed.
Most probably there are still some changes missing in the MongoDB migration script.

[2017-09-21 17:11] ruKurz opened #93 "When running two Smarti instances without setting a admin password, the passwords are different per instance"

[2017-09-21 17:22] ruKurz opened #94 "Currently the admin password is only needed when trying to access `/client/${clientId}/conversations`"
The password should be required by accessing `/`

[2017-09-22 06:34] ruKurz opened #95 "Delete whole conversations via Smarti Backend UI"

[2017-09-22 09:15] mrsimpson commented on #92
`ir_latch`-Template is not present for old conversation analysis

[2017-09-22 09:27] mrsimpson commented on #92
adding a new conversation performs a new analysis on the Smarti side and makes the template applicable

[2017-09-22 09:27] ruKurz opened #96 "Improve keyword extraction when using special chars in chat conversations"

[2017-09-25 05:13] westei commented on #92
We need to define how we deal with re-analysation of Conversations after changes. This includes:

* Software changes (like the introduction of a new Template
* Configuration changes (like the addition/removal/configuration change of a QueryProvider)
* Analysis Changes

At the Moment only configuration changes for QueryProvider are applied on old conversation. For that reason no SolrSearch QueryPro

[2017-09-25 05:16] westei commented on #62
We can provide such a service based on the conversation index. We will need to wrap Solr with a Webservice as we need to add FilterQueries to parsed searches to enforce access restrictions.

[2017-09-25 07:59] tkurz commented on #83
both are only used for display. The doctype is meant to be something like "blogpost", "webpage", "document". The type is the mimetype.

[2017-09-25 09:15] ruKurz commented on #90
Related #83

[2017-09-25 09:40] mrsimpson commented on #87
This implies a tagging of conversations.
The tags need to be provided by the Smarti-Add-In to Rocket.Chat and should be used by the widget which uses the expertise as filter

[2017-09-25 12:02] ja-fra commented on #39
1. Extend ConversationAPI to accept params for `getResult`
1. Extend Search-/Solr-based QueryProvider to accept `start` and `rows` parameters
1. Include functionality in the rocket.chat-plugin

[2017-09-26 07:37] westei commented on #87
The `query-conversation` module only suggests conversations as releated if they do have the same  expertise.

@mrsimpson this means that old conversation will be never suggested as they do not have this information. Are expertise information somehow stored for old conversations so that we can provide an update script that adds expertise information for old conversations.

This issue will also requ

[2017-09-27 09:14] ruKurz opened #100 "Messages that contain a URL are not stored within the Smarti conversation."
@westei can you please confirm this behavior? This is critical, since sharing links is one of the core interactions of our users. We should solve this in the course of next week.

[2017-09-27 09:23] janrudolph commented on #100
Rocket-Chat-Conversation:

![rocket-chat-conversation](https://user-images.githubusercontent.com/3596824/30905747-05bb76f2-a376-11e7-9177-cc3e075fd925.png)

Smarti Conversation:

![smarti-conversation](https://user-images.githubusercontent.com/3596824/30905810-3af378ec-a376-11e7-81e8-0e39b7eb2c7e.PNG)

[2017-09-27 13:26] ja-fra commented on #100
That's not an issue within smarti, but in rocket.chat:

If a message contains a link that cannot be resolved (e.g. non-existing domain, not accessable from the rocket.chat server/firewall, ...) by rocket.chat, the `onMessage` hook in the plugin is not called.

[2017-09-27 13:26] #100 closed

[2017-09-27 13:41] ruKurz opened #101 "Provide /var/lib/smarti/plugin-info.txt as json (to be consumed by ruby scripts)"
[code]

[2017-09-28 15:57] ja-fra commented on #93
The password for the user `admin` can be configured by setting `security.password` in the `application.properties`.

If this property is not set, a random password is generated on startup and printed to the log:
[code]

[2017-09-28 15:57] #93 closed

[2017-09-28 16:06] ruKurz commented on #94
@ja-fra can you please confirm this issue. Maybe we have to make a hotfix, before the 04. of Oct.

[2017-09-28 16:16] ruKurz commented on #100
Next time it would be great if the resulting RC issue is being created, before closing the Smarti issue - at least we have an issue. Thanks @janrudolph for creating it.

[2017-09-28 16:44] ja-fra commented on #94
That's true. Access is currently only restricted for the `/admin/**` part.

Currently we can't completely lock down access, since rocket.chat needs access to certain sevices. Possible temporary fix (until #60 is ready) could be to restrict access to all _except_ `/rocket/**` and `/conversation/**`

[2017-09-28 16:59] ja-fra commented on #68
Duplicate of #52

[2017-09-28 16:59] #68 closed

[2017-09-28 21:25] ruKurz commented on #94
The most important issue here is, that one is able to delete configurations when opening the main admin view. Since the access is not restricted everyone can delete a complete config who is allowed to access the Smarti endpoint.

[2017-10-02 12:10] mrsimpson opened #104 "Schema-errors in generated swagger-file"
When loading the generated swagger-file into editor.swagger.io, the schema validation is erroneous.
This however does not appear when retrieving the swagger from `/v2/api-docs` - everything seems to be fine with that one.

Version: smarti-0.6.0-SNAPSHOT
<img width="1416" alt="generated swagger validation" src="https://user-images.githubusercontent.com/17176678/31076679-ac9885e2-a77b-11e7-91e0-78fd

[2017-10-02 12:11] mrsimpson commented on #104
[Uploading generated swagger validation.png...]

[2017-10-02 12:37] ruKurz commented on #91
@tkurz I think we do not need a fixed display title. Since the second part `dbsearch` in the Screenshot is the display title from the configuration. So if we have a default value for the configuration, we have max flexibility. WDYT?

[2017-10-02 12:44] ruKurz commented on #90
What is the difference between this issue an #105

[2017-10-02 13:11] ja-fra commented on #90
#105 war targeted to the wrong branch - that's all...

[2017-10-02 13:15] ruKurz commented on #90
@ja-fra I didn't get that #105 was a PR. That 105 targeted to the wrong branch, came up to me latter. Now,  @tkurz has created #107 and #108. I'm absolutely fine with it. Thanks.

[2017-10-03 06:55] lobo87 commented on #62
Ok, I did some digging in the code in order to get an idea on how to override the default search like discussed yesterday. By overriding the default behaviour we would be able to inject our search results. However this seems to be quite complicated caused by the weird implementation. There aren't any good locations in the code where i can hook into. Nevertheless, this analysis yields two possible

[2017-10-03 08:51] mrsimpson commented on #62
@lobo87 I'd go for a dedicated hook which should be provided in Rocket.Chat Core (we should create an issue for that and contribute the hook) in order to go for approach 1).
This hook could pass an array of rooms for which the user is in general authorized to the search engine. This is necessary as we don't have authorization mechanisms (ACL on rooms) on the Smarti-side (yet).
WDYT?

[2017-10-03 08:59] lobo87 commented on #62
@mrsimpson so if i get you right, you want to create a similar method "spotlight" which does the same as the core method plus injecting custom search results. This method will the be called instead of the spotlight one? That means replacing `Meteor.call('spotlight')` by `Meteor.call('new-spotlight')`

As far as I have seen, Rocket.Chat does not provide any callback for the search, we could hook on

[2017-10-03 09:14] lobo87 commented on #62
I think having custom hooks for the search (searchStart, beforeClientSearch, afterClientSearch, beforeServerSearch, afterServerSearch, searchComplete) would be the best way. I like this proposal. This way we can hook into at any place during the search and modify the results. This however means we need to modify the Rocket.Chat core.

[2017-10-03 09:28] ja-fra commented on #95
Delete like in "delete", or just remove from search results?

[2017-10-03 10:01] mrsimpson commented on #62
@lobo87 Modifying Rocket.Chat-Core is fine as long as we can contribute it back. For that, we need to create an issue specifying the needs. I've quickly done that: https://github.com/RocketChat/feature-requests/issues/745 .
My recommendation: Fork-off `Rocket.Chat/develop`, add what's missing in RC Core and open a PR referencing this issue. We can surely make someone look at it soon.
Then, fork-of

[2017-10-03 10:02] lobo87 commented on #62
alright, i'll do that.

[2017-10-03 10:06] mrsimpson commented on #62
@lobo87

Why do you think we'll need multiple callbacks?

See https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/server/functions/sendMessage.js#L55-L59 for some hook-definition-sample.

[2017-10-03 10:08] lobo87 commented on #62
@mrsimpson

i thought it would be a good idea to have more hooks in order to be more flexible. In this case it is propaby sufficient to implement just one.

[2017-10-03 10:44] mrsimpson commented on #62
@lobo87 added you to our Rocket.Chat fork (https://github.com/assistify/Rocket.Chat/). If you start the PR towards Rocket.Chat from there, we can contribute to that as well

[2017-10-03 10:50] ja-fra commented on #62
Please move the discussion about the search-integration into rocket.chat to assistify/Rocket.Chat#76.

[2017-10-04 05:51] ruKurz commented on #95
@ja-fra good question. I would say, 'remove from search results' should be sufficient for now. But we have to clarify the semantics of 'search results'. If the implementation changes the conversation state e.g. 'marked for deletion' the conversation should not be displayed anywhere and if the conversation that is marked for deletion is published afterwards again it should be deleted (like delete).

[2017-10-06 18:07] ruKurz commented on #94
@ja-fra by this new rule the Smarti Widget can not be loaded without authentication:
http://localhost:8080/plugin/v1/rocket.chat.js

as well as the
http://localhost:8080/plugin/v1/system/health
http://localhost:8080/plugin/v1/system/info

So please restrict access to all except `/rocket/**`, `/conversation/**`, `/plugin/**` and `/system/**`

[2017-10-06 18:10] ruKurz commented on #94
@ja-fra Is there an application property that can be used to disable the auth?

[2017-10-09 09:27] ja-fra commented on #94
@ruKurz jetzt schon: `security.enabled = false`

[2017-10-09 09:56] ja-fra opened #112 "Database Migration should be executed by a startup-script"
It's hard and error prone to manually execute the database migration scripts - this should be done in the startup-script:
* execute scripts in the correct order,
* only if the script has not already been run, and
* only one thread/instance at a time

The startup-script should wrap the `java -jar smari.jar` call and use the same priority for the database configuration:
1. script-argument `--spring.

[2017-10-13 05:55] janrudolph opened #114 "Configuration modification without authorization"
Currently any user, who knows the configuration website, is able to _edit_ configurations. No login is required.

Desired behavior: Prevent any access to the configuration website without authorization.

[2017-10-13 08:59] janrudolph opened #115 "Typo in Smarti widget"
If solr search does not provide any results, the text "Keine Ergbnisse" appears. There is a "e" missing.

<img width="179" alt="rocket_chat_" src="https://user-images.githubusercontent.com/3596824/31538346-8d0903ae-b005-11e7-93e4-d3a6ae8cf27d.png">

[2017-10-16 05:54] janrudolph opened #116 "Add button „clear all keywords“"
When conversations take a while, plenty of keywords for the solr searches will be extracted. In this situation, an user has to delete many keywords if the user likes to use the search. In order to make the situation more comfortable, smarti should provide a button „clear all keywords“. By pressing this button, all keywords will be deleted and the user gets a fresh search.

Acceptance criteria:
- A

[2017-10-17 13:23] ja-fra commented on #114
Duplicate of #94

fix is included in the upcoming `0.6.0`-release

[2017-10-17 13:23] #114 closed

[2017-10-19 14:08] ja-fra opened #118 "Provide smarti as docker-image"

[2017-10-19 15:36] mrsimpson commented on #118
@thomasroehl hat das schon fertig

[2017-10-20 10:01] janrudolph opened #119 "Missing default configuration"
Documented in Assistify repository

https://github.com/assistify/smarti/issues/13

[2017-10-23 09:11] janrudolph opened #120 "Shared Solr search links get lost in historic conversations"
Proxy for https://github.com/assistify/smarti/issues/8

[2017-10-23 09:29] westei opened #121 "Highlighting for Conversation Search"
Add support for highlighting to the conversation search. Extend the search result format to include highlight information like with Solr search results

[2017-10-23 11:32] ja-fra commented on #120
Duplicate of #100

[2017-10-23 12:29] #119 closed

[2017-10-23 13:54] ja-fra opened #124 "Docker-Image needs to run database migration scripts on startup"
This is a follow-up issue to #112 and #118: Once `release_0.6.0` is merged into `develop`, the docker-image must be extended to run the database mirgration scripts on startup.

[2017-10-24 07:40] ja-fra commented on #25
This should be gone once we upgrade to stanford-nlp v3.8.0

[2017-10-24 07:55] ja-fra commented on #96
I see two steps here:
1. clean-up and sanitize tokens, e.g. remove chars like `_'{}[]()`
1. ignore code-snippets (identified by `` ` `` and `` ``` ``-blocks) for NLP analysis

[2017-10-24 08:00] ja-fra commented on #92
@mrsimpson, @ruKurz - is this still an issue, or has it been solved together with the updated database-migration (#112) and configuration updates (#53)?

[2017-10-24 08:06] ja-fra commented on #66
Will be deprecated by #86

[2017-10-24 08:07] ja-fra commented on #65
Will be deprecated by #86

[2017-10-24 08:08] ja-fra commented on #69
Is this a duplicate of #58?

[2017-10-24 08:12] ja-fra commented on #54
(Automatic) Database-migration has been implemented in #112

[2017-10-24 08:12] #54 closed

[2017-10-24 08:30] ja-fra commented on #21
* Topic-Filters were added in #87
* Access-Control for Conversations is added in #60

[2017-10-24 13:30] westei commented on #121
This will require to delete and re-index the conversation index on the software update

[2017-10-25 08:29] ja-fra opened #127 "Convert DB-Migration from shell to java to reduce dependency-footprint"
Currently, to automatically run the database-migration scripts (#112), the `mongodb-shell` needs to be installed on the server.

To avoid this - and also be more consistent in picking up the right mongo-configuration - the migration execution should be converted from shell to a small java-application.

see also https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#mongo.server-si

[2017-10-27 08:59] janrudolph opened #128 "Missing line break for solr search keywords"
Please have a look at the attached screenshot. Long keywords, in this case a URL, do not break and thereby add a horizontal scroll bar. We should add auto line break after a specified number of characters. (However, we should also discuss if URLs are relevant keywords.)

<img width="215" alt="missing_linebreak" src="https://user-images.githubusercontent.com/3596824/32096189-fcf99c4a-bb05-11e7-8969

[2017-11-01 07:38] janrudolph opened #129 "Wrong user-ids when sharing a historic conversation"
When sharing historic conversations, the user ids are displayed as well. The user id indicates who wrote a statement in the past. But in the current version, just one id is displayed (see example below). Thereby it is not possible to recognize who wrote a statement. This impedes readability.

**Example:**
[code]

[2017-11-01 13:48] ruKurz opened #130 "Some API functions are not part of the swagger file"
The following calls are not part of the swagger file.

`/system/info`
`/system/health`
`/v2/api-docs`

Is there any reason for that?

[2017-11-01 13:53] ruKurz opened #131 "Error when uploading an conversation export"
![bildschirmfoto 2017-11-01 um 14 52 39](https://user-images.githubusercontent.com/853776/32277961-708d3fba-bf14-11e7-962e-807e34e4f320.png)

[2017-11-01 18:44] ruKurz commented on #60
Since Issue #106 is not implemented yet, the question rises, how to configure auth in a test setup?

[2017-11-01 20:12] ruKurz commented on #60
Found the answer here: https://github.com/redlink-gmbh/smarti/commit/b0b2d89f5d2f109a3ad2f986a5556f181216f4e8

[2017-11-02 11:08] ja-fra commented on #130
Those endpoints are _meta endpoints_ and are not part of the actual API:
* `/system/info`, `/system/healh` are from [spring-actuator](https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html), and are meant for monitoring.
* `/v2/api-docs` is where swagger-ui loads the live `swagger.json`

[2017-11-02 11:08] #130 closed

[2017-11-02 11:18] ja-fra commented on #128
Suggestion: We'll limit the `width` (display) to a reasonable value (cutoff with ellipses `http://www.example.com/...`) - and the full value can be viewed by `mouse-over`

[2017-11-02 18:35] ruKurz commented on #60
Is there any how to authorize against Smarti  with a chat client?

[2017-11-03 07:22] ja-fra commented on #60
@ruKurz: with the current (`0.6.0`) implementation (`SimpleAuthConfiguration`), just provide a `Basic Auth`-Header, e.g.
[code]
Please note that there's only one user (`admin`), password can be configured via application-property `security.password`

For the `0.6.1`-Version, we'll have
1. full user management (username+password, to be provided via **basic auth**)
1. token-based authentication, to

[2017-11-03 08:54] ruKurz opened #132 "How to deal with extracted URLs?"
Currently extracted URLs are handled exactly like keywords (from UI perspective). Next to breaking the layout (https://github.com/redlink-gmbh/smarti/issues/128) questions about
- how to handle URLs in general,
- what is their conversational value,
- should we promote them via preview
- what do URL tell us about the content of the conversation
- ...
have been coming up.

This issue has being opene

[2017-11-03 20:56] ja-fra opened #133 "Conversation-Independent search returns null results"
Reported by @ruKurz in https://github.com/redlink-gmbh/smarti/pull/98#issuecomment-341809997

[2017-11-05 11:28] ruKurz opened #134 "Missing third party license failing build (sometimes)"
Sometimes a `mvn clean install` breaks because of  2 dependencies with no license:

[code]

[2017-11-05 11:34] ruKurz commented on #133
This issue occurred after importing data from an existing environment into the local dev.

Steps before this issue appeared:

1. Created a MongoDB export of `smarti` database
2. Delete the `smarti` database locally
3. Start Smarti 0.6.0
4. Execute search: `http://localhost:8080/rocket/team/search?q=*:*`

Result:
![](https://user-images.githubusercontent.com/853776/32393301-3e67a48c-c0d9-11e7-9095-

[2017-11-05 12:13] ruKurz opened #135 "Deployment failed by missing dependency to mongo"
With the commit "Automatic Database-Migration adds additional dependencies (#112, #127)" (https://github.com/redlink-gmbh/smarti/commit/4da7fce79c4df120cc59acbbfbce1b04b1de7bda) there has been introduced a new new dependency `<require>/bin/mongo</require>`:

[code]

Running Smarti on environments that use a external MongoDB, are not able anymore to install Smarti (e.g. RPM) successfully.

[code]

[2017-11-06 07:31] ja-fra commented on #135
Starting with #112, the startup-script executes the data-base migration scripts and therefor *requires* the mongodb-shell client. So without `/bin/mongo` installed on the application server, the startup of smarti will fail.

#127 is here to remove that dependency again by moving the migration-script execution from shell to java.

[2017-11-06 10:31] ja-fra opened #136 "Route all requests from widget to smarti via rocket.chat endpoint"
With #60, the widget needs to authenticate to smarti. To avoid exposing the access-credentials to the frontend, all requests to smarti need to be proxied via rocket.chat (who then adds the correct credentials)

[2017-11-06 10:39] ruKurz commented on #136
Note: Don't forget conversation search

[2017-11-06 10:58] ja-fra commented on #135
Connected to #127

[2017-11-06 13:48] ja-fra commented on #136
conversation search (#62) is already executed server-side. (It's an extension to the channel-search in rocket.chat)

[2017-11-10 12:45] ja-fra opened #138 "Display info message when widget can't connect to smarti backen"
When the widget can't connect to the smarti-backend, the widget stays empty with no information to the user.
Some message like "Could not connect to Knowledge-Base" should be written there.

[2017-11-13 10:29] mrsimpson commented on #136
On the Rocket.Chat side, there should be a method which at least verifies the authentication and limits some rate

[2017-11-13 10:37] mrsimpson opened #139 "Fulltext-search on conversations for Rocket.Chat"
As a user I want to search for conversations which have been happening in Rocket.Chat.
This feature is actually independent of Smarti, but shall also be included into Smarti:
One search provider shall be Smarti: Once a Smarti is configured to be connected to Rocket.Chat, it shall be enabled to find conversations full-text

[2017-11-13 10:43] mrsimpson commented on #139
I would expect this to be a dependency in the Smarti-pom which then provides the necessary endpoints for Rocket.Chat

[2017-11-13 10:49] mrsimpson opened #140 "Logging to AWS"
Add a logwriter which can write to CloudWatch.

[2017-11-13 10:51] mrsimpson opened #141 "Loglevel-supprt"
Payloads only in debug

[2017-11-13 13:13] ja-fra commented on #140
Added redlink-gmbh/logback-ext to the packaging process to allow writing logs to [AWS CloudWatch](https://aws.amazon.com/cloudwatch/).

Sample configuration in `logback.xml`:
[code]

For further configuration details, please refer to the [`CloudWatchAppender` documentation](https://github.com/redlink-gmbh/logback-ext/tree/master/logback-ext-cloudwatch-appender).

[2017-11-14 13:26] ja-fra commented on #127
Closes #135

[2017-11-14 15:26] ja-fra opened #142 "Add docker-image to release-deployment"
After `0.6.0` has been released and #118 is ready, the docker image should be added to the release-artifacts that are uploaded to the github release page.

[code]

[2017-11-16 07:27] ruKurz opened #143 "Schema errors in generated swagger.json"
There are several schema errors within the generated swagger file.
<img width="701" alt="bildschirmfoto 2017-11-16 um 08 26 39" src="https://user-images.githubusercontent.com/853776/32878867-0930e570-caa8-11e7-8468-d9c190bebfbf.png">

[2017-11-16 07:31] ruKurz commented on #143
@see https://github.com/redlink-gmbh/smarti/issues/143
Now we have some other issues here.

[2017-11-16 08:47] ja-fra commented on #143
Duplicate of #104

[2017-11-16 08:47] #143 closed

[2017-11-16 08:57] ruKurz commented on #104
This issue is not fixed yet, see #143

[2017-11-16 09:06] ruKurz opened #144 "Display a meaningful message if no conversations have been found."
If the `support_area` filter removes all results from the conversation search, there is displayed a misleading info. The pagination is shows `1/0` what is not correct.

<img width="368" alt="bildschirmfoto 2017-11-16 um 09 57 51" src="https://user-images.githubusercontent.com/853776/32882678-7392efaa-cab5-11e7-842f-4618193f1dba.png">

If there are no results to display, a message like "no results

[2017-11-16 09:07] #135 closed

[2017-11-16 09:07] #127 closed

[2017-11-16 09:08] #91 closed

[2017-11-16 09:08] #90 closed

[2017-11-16 09:08] #112 closed

[2017-11-16 09:08] #94 closed

[2017-11-16 09:08] #62 closed

[2017-11-16 09:09] #39 closed

[2017-11-16 11:26] #144 closed

[2017-11-16 11:28] ruKurz commented on #104
Still getting errors here:
<img width="712" alt="bildschirmfoto 2017-11-16 um 12 27 29" src="https://user-images.githubusercontent.com/853776/32889050-96308b12-cac9-11e7-821e-0c05083be225.png">

[2017-11-16 11:28] #115 closed

[2017-11-16 11:52] ja-fra commented on #104
How/Where did you check? I loaded the file in both http://editor.swagger.io/ and http://editor2.swagger.io/ and received no errors...

[2017-11-16 12:25] ruKurz commented on #104
http://editor.swagger.io/

[2017-11-16 13:06] #140 closed

[2017-11-16 13:43] ruKurz opened #145 "Smarti should run with only 2 processing threads"

[2017-11-16 14:52] #104 closed

[2017-11-16 16:13] ja-fra commented on #141
Potential **sensitive data** such as message content, usernames, auth-tokens, etc... **MUST NOT** be logged on levels other than `debug` or `trace`.

On the other hand, logging ids that allow identifying such sensitive data (e.g. directly on the database, or with admin-right in the application) is OK.

[2017-11-16 16:28] ja-fra commented on #77
`channel_name` does **not** have to be unique. Channels are separated by `channel_id`.

When smarti receives a `Message`, it looks for an *ongoing* `Conversation` for the given `channel_id` - creating a new `Conversation` on demand - and adds the `Message` to that conversation.

If a `Conversation` is found - but already `closed`, a new conversation if started.

[2017-11-16 16:28] #77 closed

[2017-11-16 16:41] ja-fra commented on #82
The number of suggested conversations can be set in the Configuration of the "Query Builder":
[code]

[2017-11-16 16:41] #82 closed

[2017-11-16 16:46] #64 closed

[2017-11-20 08:20] westei commented on #145
The number of precessing threads should be configureable and the default will be `2`

[2017-11-20 08:28] westei opened #147 "Investigate Heap Requirements for Smarti"
When running with `-Xmx4g` a `java.lang.OutOfMemoryError: Java heap space` was encountered.

As this is unexpected we need to further investigate memory consumption of Smarti. This include

* implementation of a stress test utility
* testing with high loads of conversation with different lengths and random messages
* testing memory footprint of different analysis configurations (especially NLP pro

[2017-11-21 18:29] mrsimpson opened #148 "Improved Smarti-Widget"
In order to present the results in a (more) human-friendly-manner, the UI of the widget shall be adapted.

# Sketches of the targeted UI

## General aspects

- Tabs currently based on the order in the client configuration. In future, this order could be determined by a classifier
- Dynamic behavior (mouse-overs, cursor etc.) are not part of the sketch. However, it was beneficial if when hovering o

[2017-11-22 14:15] westei commented on #147
The investigation concluded that their are no memory leaks present. Even long processing runs of `>1000` conversations with `>5000` messages showed no increase in base memory.

The OOM errors could be traced down to messages containing long sentences (or other Strings e.g. ASKII graphics) that cause the Stanford NLP Parser to require huge amounts of memory.

Several solutions where tested with the

[2017-11-23 11:05] westei commented on #21
as #87 is part of `0.6.0` and #60 is in review for `0.6.1` we can mark this also as in review

[2017-11-23 11:10] westei commented on #134
@ruKurz can you please attach your `application/src/license/THIRD-PARTY.properties` file the next time this happens. Updating this file with the missing licenses should solve this issue

[2017-11-23 11:14] westei commented on #133
A full re-index (in case of an embedded Solr Server this means deleting the Solr core) is required

* after a Software Update
* after a change of the MongoDB (e.g. restore, moving to a other Mongo DB ...)

The Conversation Search retrieves IDs from the Solr but loads the data from the MongoDB. So `null` results indicate that the Data in Solr are out-of-sync with the MongoDB.

[2017-11-23 11:18] westei commented on #133
I will close this issue and create a new one for adding a re-indexing option to the Admin API

[2017-11-23 11:18] #133 closed

[2017-11-23 11:21] westei opened #150 "Add re-indexing option to the Admin API"
As software updates and connecting to a different Mongo DB require a full re-index an Admin needs the possibility to trigger a re-index via the Admin API

[2017-11-23 11:24] westei commented on #132
As a first step I can map them into an own field in the LATCH template (used by all Information Retrieval QueryBuilder). This will allow to *ignore* them for now and implement a special handling later on

[2017-11-23 12:02] westei commented on #101
@ruKurz decided to provide more information (esp. the mvn coordinates so that one could also download the plugins from a mvn repository instead from the static mvn central url (this could become handy when installing smarti in private networks without internet access)

[code]

[2017-11-27 07:10] ja-fra opened #152 "Use JVM-Option MaxRAMFraction for Docker"
Use the following switch for better memory usage: `-XX:MaxRAMFraction=1`

see https://twitter.com/codepitbull/status/934384652806221825, thanks @westei for the pointer!

[2017-11-27 07:23] ja-fra commented on #5
Marking as done - see linked issues for implementation details and progress.

[2017-11-27 07:23] #5 closed

[2017-11-27 07:36] ja-fra commented on #67
Closed with #99

[2017-11-27 07:36] #67 closed

[2017-11-27 10:36] #87 closed

[2017-11-27 10:46] ruKurz opened #153 "update changelog"
**add release description and issue list**
**add manual migration steps**
- config for mlt-components

[2017-11-27 11:30] ja-fra commented on #134
That's a build-hickup that happens from time-to-time. There's nothing that we really can do here...

[2017-11-27 11:30] #134 closed

[2017-11-27 14:07] ja-fra commented on #25
@westei please check if this issue has been solved with https://github.com/redlink-gmbh/smarti/commit/f045538f30c151f94d8adc6a1ec76a26a1a5ad74

[2017-11-27 14:19] ja-fra commented on #63
@janrudolph is this issue covered with #87 ?

[2017-11-27 14:27] ja-fra commented on #92
Closing this issue as outdated.

If the problem still persists, please reopen with detailed description.

[2017-11-27 14:27] #92 closed

[2017-11-29 13:30] westei commented on #80
As the Webservice API will considerable change with `v0.7.0` the description of the webservice calls will be sparse (limited to the usage example given by #79). We need to provide a more detailed documentation with the `v0.7.0` release

[2017-11-29 13:31] westei commented on #80
As a lot of the linked issues are formulated as questions I will use those to start of an FAQ section

[2017-11-30 13:56] #153 closed

[2017-11-30 14:04] #70 closed

[2017-11-30 14:04] #71 closed

[2017-11-30 14:04] #72 closed

[2017-11-30 14:04] #73 closed

[2017-11-30 14:04] #74 closed

[2017-11-30 14:04] #75 closed

[2017-11-30 14:04] #76 closed

[2017-11-30 14:04] #78 closed

[2017-11-30 14:04] #79 closed

[2017-11-30 14:04] #80 closed

[2017-11-30 14:04] #84 closed

[2017-12-01 08:07] westei opened #155 "No Related Conversation if no Tokens are extracted"
Currently no Related Conversations are suggested if no Tokens are extracted for a Conversation.

As the Conversation MLT implementation does not require any extracted Tokens this can be considered as Bug

[2017-12-04 10:47] westei commented on #86
Provide Swagger documentation for the new Conversation API (how? what?) with links to the full documentation

[2017-12-04 11:03] ruKurz opened #156 "create beautiful smarti error page for (server error 404 and 500)"
When someone calls a invalid Smarti-URL or does get an error result by API misuse.

Potential links to resources that can help the user/consumer to get along should be displayed:
- Swagger-File-URL
- Swagger-UI-URL
- Link to the Code
- Link on Documentation

Maybe an E-Mail or Link on a web presence.

[2017-12-05 20:06] ruKurz opened #157 "The Solr ajax call and the related conversation search fails, if hashes (#) have been extracted"
When keywords are being extracted containing special characters like # (hashes) the ajax call to Solr fails. Also there are no related conversations shown. For example if `Anfrage an #Assistify` is being extracted there are no results shown by Smarti (no conversation and no Solr results).

In the browser log only appears a message like
`Uncaught SyntaxError: Unexpected token :`

The including the

[2017-12-05 20:44] ruKurz commented on #157
Maybe this issue is related with:
https://github.com/redlink-gmbh/smarti/issues/96

[2017-12-07 09:38] mrsimpson commented on #150
@westei will you be able to integrate this into 0.6.1? This release will make a re-index necessary, so having it there would be beneficial

[2017-12-07 12:01] ruKurz opened #161 "Finishing release notes for Smarti 0.6.1"
- [x] finalize description
- [x] check issue list for completeness
- [x] Add upgrade instructions

[2017-12-07 14:54] westei opened #162 "CloudSync support for Conversations"
The Conversation Index needs to sync with conversations updated by other instances in the cloud.
Extend the ConversationIndex to use this service to keep the index up-to-date

[2017-12-07 16:08] ruKurz commented on #162
Did you really finish this today? Amazing!

[2017-12-07 16:08] ruKurz commented on #162
Does this has any effects on our operations?
Are there any configuration files to be edited?

[2017-12-07 16:21] ja-fra commented on #162
Nope. There are two possible options that _could_ go into the configuration: `polling-interval` (currently `15s`) and the `daily-reindex` (currently `3 am`). But for the time being they're hard-coded (scheduling with configurable interval/cron-config are a bit more complicated than adding `@Scheduled`

[2017-12-07 17:37] ja-fra opened #164 "Trigger a full reindex on system startup"
As a temporal workaround for #150, the application should trigger a full index rebuild upon startup.

[2017-12-07 17:43] ja-fra commented on #164
fixed in 5c6921e, as part of #162

[2017-12-07 19:47] ruKurz commented on #121
The results of Smarti do not fit to ChatPal Search:

chatpal-search fails by executing:

`/packages/chatpal-search/server/service/search_service.js`

[code]

The Smarti response of:
`http://localhost:8080/rocket/localhost/search?sort=time%20desc&fl=id,message_id,meta_channel_id,user_id,time,message,type&hl=true&hl.fl=message&df=message&q=braunschweig`

does not return the JSON-Format expected by c

[2017-12-08 06:19] ruKurz commented on #162
@ja-fra thanks for your quick reply, I think that will work for us.

[2017-12-08 06:22] ruKurz commented on #164
As I can see, the default of the configuration option is `true`:
[code]

[2017-12-08 06:36] ruKurz opened #165 "asciidoctor misses some references at build time"
[code]

[code]

[code]

[2017-12-08 06:44] ruKurz commented on #164
worked as suspected during local test.

[2017-12-08 06:49] ruKurz commented on #136
Since we have chatpal search now, and https://github.com/assistify/Rocket.Chat/issues/76 is not yet merged, it might be essential to provide a proxy endpoint via Rocket.Chat as mentioned by @mrsimpson

[2017-12-08 06:50] ruKurz commented on #162
@ja-fra This issue can only be tested in a cloud installation running two Smarti instances. Could you please describe how to check-up whether this change is applied successfully?

[2017-12-08 07:04] ruKurz commented on #157
Using the 'data' option for ajax requests, the passed JSON is encoded by jquery:
https://stackoverflow.com/questions/15576548/how-to-pass-parameters-in-get-requests-with-jquery

Therefore the an encoded value inside the Solr query builder configuration becomes encoded a second time, what leads to an invalid Solr query again.

Since the Solr query builder configuration has not to be URL encoded any

[2017-12-08 07:06] westei commented on #162
When you have several instances of Smarti create conversations on both of them and complete them afterwards. If they appear in the conversation indexes of both the could sync has worked.

In addition I created DEBUG level loggings that provide information about the Snyc performed every 15sec

[2017-12-08 07:07] ruKurz commented on #155
How to test this issue?

[2017-12-08 07:09] ruKurz commented on #101
Since this issue removes the plugin-info.txt file. The references in the documentation have to be replaced. see #165

[2017-12-08 07:10] ruKurz commented on #116
wokrs

[2017-12-08 07:31] ruKurz commented on #147
at least very cool that we have knowledge in that depth.

[2017-12-08 07:49] #101 closed

[2017-12-08 07:50] #116 closed

[2017-12-08 07:52] #128 closed

[2017-12-08 08:04] ruKurz commented on #60
Improvements:
  - a user should only manage his own password
  - a user should only be allowed to set initial passwords for other users
  - a user should be able to manage his own profile

We need to discuss if these suggestions are making sense.
Should we create separate issues?

[2017-12-08 08:04] #164 closed

[2017-12-08 08:11] ruKurz commented on #83
this info should be applied to the docs.

[2017-12-08 08:45] ruKurz commented on #83
looking at the doc, it is the other way around:

*** `type`: the type of the result
*** `doctype`: the document type of the result (e.g. `text/html`)

[2017-12-08 08:45] ruKurz commented on #83
@tkurz could you please clarify? Thanks.

[2017-12-08 08:49] ruKurz commented on #161
@ja-fra could you please re-check what is absolutely required to be changed in the `application.properties`?

Next to the admin user default password I did not found anything else.
We are taking the `logback.xml` as it is delivered by distribution, so we need not to change.

Is there anything else regarding operations in order to release Smarti 0.6.1?

[2017-12-08 08:55] ruKurz commented on #165
[code]

is working anyway.

[2017-12-08 08:55] #165 closed

[2017-12-09 14:44] #25 closed

[2017-12-09 14:44] #21 closed

[2017-12-11 07:51] westei commented on #155
You need to create an Conversation with a message where no Token is extracted. In setups without InterestingTerms this is rather easy as you just need to avoid the mention of Named Entities like Person, Organisations and Places.

In a Setup with Interesting Terms its much harder to create Conversations where no Tokens are extracted. What should work is to use Messages that mention Words that do no

[2017-12-11 08:22] westei commented on #121
@ruKurz Have you deleted the `0.6.0` Solr Index before installing `0.6.1 RC1`. If not this might be because we had to change the conversation index layout to support chatpal

[2017-12-11 08:38] ja-fra opened #166 "Allow users to manage their own profile"
A user should have the possibility to manage his own profile (display name, mail, password)

This is a follow-up issue to #60

[2017-12-11 08:40] ja-fra opened #167 "Users should not be able to set other user's passwords"
Currently, any user can set a new password for any other user (assigned to the same client). This function should be restricted to `ADMIN`-users.

[2017-12-11 08:45] ja-fra opened #168 "[DISCUSS] Restrict user-creation to admins"
Currently, any user with access to at least on `client` can create new users in the smarti-backend.

This issue is to discuss if this function should be restricted to users with a certain role (e.g. `ADMIN`)

This is a follow-up issue to #60

[2017-12-11 10:23] #161 closed

[2017-12-11 10:36] #60 closed

[2017-12-12 14:42] ruKurz commented on #136
This is solved by PR Feature/#136 rc smarti requests #169

[2017-12-12 14:43] #136 closed

[2017-12-12 14:43] ruKurz commented on #121
works when using the right endpoint: http://localhost:8080/rocket/localhost/search-message

[2017-12-12 14:48] ruKurz commented on #121
when switching to the Rocket.Chat Admin, there is a display/layout issue: While the RC-Chat panel gets shadowed, the search box of chatpal is in front.

How do we handle chapal-search RC related issues that are regarding our releases?
Should we create issues here?

[2017-12-12 14:49] ruKurz commented on #157
As far as I can see there is a migration script available right now.
How to test this on a environment, that is already on 0.6.1?

[2017-12-12 14:58] ja-fra commented on #157
as long as the `DB_VERSION` is still on `3`, the migration should take place as expected. When starting the application directly, run the migration-script manually

[2017-12-12 15:00] ruKurz commented on #157
and how do I start that script manually?

[2017-12-12 15:01] ruKurz commented on #121
Can't reproduce that issue anymore

[2017-12-12 15:01] #121 closed

[2017-12-12 15:14] ja-fra commented on #157
`mongo smarti /path/to/migrate-04_fix-param-encoding.js`

[2017-12-12 15:19] ruKurz commented on #157
| => mongo smarti projects/smarti/scripts/migrate-04_fix-param-encoding.js
MongoDB shell version v3.4.7
connecting to: mongodb://127.0.0.1:27017/smarti
MongoDB server version: 3.4.7
Created Backup smarti_1513091892071 before starting migration
Starting Migration 3 --> 4
Error during Migration: URIError: malformed URI sequence
Restore database backup: smarti_1513091892071

[2017-12-12 15:24] #83 closed

[2017-12-12 15:35] ruKurz opened #170 "Generated Swagger file has errors and x-auth-token is a parameter instead http-header"
see screenshots below

[2017-12-12 15:36] ruKurz commented on #170
![Bildschirmfoto 2017-12-12 um 16.34.21.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594e29c43945af002026f49a/125516c66e82c728ace21e0d46ca9d96279180a186fbb245ab49ffd47b1676246455f16621d7a33db2022a57415c4ab243594d58eeb9cb74fce36f34985619e8d86b5875c76c19a5b9d149e953ba208a1a86b0eade4495fa2137a5dad11b61435c52dcbd4f3fb29843c259f34ae24d5ca61a3364e777316e0a.png)

[2017-12-12 20:06] ruKurz commented on #157
works with commit https://github.com/redlink-gmbh/smarti/commit/acc4a22996c7c1c7c569e37f4550b211cb93f4de

[2017-12-12 20:06] #157 closed

[2017-12-12 20:09] ruKurz commented on #170
![Bildschirmfoto 2017-12-12 um 16.32.25.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594e29c43945af002026f49a/125516c66e82c728ace21e0d46ca9d96279180a186fbb245ab49ffd47b1676246455f16621d7a33db2022a57415c4cb2435d4d58eeb9cb74fce36f34985619e8d86b5875c76c19a5b9d149e953ba208a1a86b0eade4495fa2137a5dad11b61435c52dcbd4f3fb29842c259f34ae24c55ad103564e573306e0a.png)

[2017-12-12 21:24] ruKurz opened #171 "Complete community profile on github"
https://github.com/redlink-gmbh/smarti/community

[2017-12-12 21:27] #155 closed

[2017-12-13 06:24] janrudolph commented on #148
One comment concerning the keywords:

Smarti extracts many keywords right now. The list of "relevant" keywords blows up over time. If we implement the suggested UI, there might be issues with to many keywords. The keywords will take too many space (like today). We have to find a smart way to show the most relevant keywords and hide the others one. Maybe a button "show me all <keywords>" is a solut

[2017-12-13 11:54] #162 closed

[2017-12-13 11:55] #118 closed

[2017-12-13 12:00] ruKurz commented on #142
Is the issue (https://github.com/redlink-gmbh/smarti/commit/506882149ca92b3b5fcf53a9b531b14ce8fe0d90) related to cloud sync:
also part of the packaging  `docker.tar.gz`?

[2017-12-13 12:07] #124 closed

[2017-12-13 12:08] #152 closed

[2017-12-13 12:08] #145 closed

[2017-12-13 15:56] ruKurz opened #172 "no default for mongo script home in RPM distribution"
When deploying Smarti from a RPM, there comes up an error message in the log:

[code]

By setting the property:
[code]
manually, the migration scripts are executed.

The following actions should be done in oder to resolve this issue:
- [x] set the default value for `smarti.migration.mongo.script-home` to `/usr/share/smarti/scripts` for the RPM dist
- [x] extend the documentation by this property
-

[2017-12-14 06:56] ja-fra commented on #142
not in `0.6.1-RC1`, but it will be in `RC2`.

[2017-12-14 09:51] ja-fra commented on #172
The required settings is configured in the `application.properties` shipped in the `rpm`-package (also in `deb`). However, when *upgrading* this configuration file does not get updated, thus the migration might fail.

Documentation (changelog and application-config) updated.

[2017-12-14 10:18] ja-fra commented on #142
docker-image is uploaded to the release-page, see [Smarti 0.6.1-RC1](https://github.com/redlink-gmbh/smarti/releases/tag/smarti-0.6.1-RC1).

[2017-12-14 10:18] #142 closed

[2017-12-14 13:20] westei commented on #148
@janrudolph I am aware of this issue

True, but this is not an easy task. A low(er) hanging fruit is to just propose Keywords extracted from the last few messages but this alone will not solve this issue

[2017-12-14 15:28] ruKurz commented on #172
OK, we need think about how to transfer the default properties to our operations.
But anyway my expectation would be to have a default value if no property is set.
Do we have this now?

[2017-12-15 06:33] janrudolph commented on #147
Please find my feedback attached.

<img width="209" alt="index_html" src="https://user-images.githubusercontent.com/3596824/34029564-86921cb4-e169-11e7-8c3b-2fc4f54281a1.png">

<img width="211" alt="index_html" src="https://user-images.githubusercontent.com/3596824/34029701-24362618-e16a-11e7-9109-e4bb3e8a9328.png">

[2017-12-15 06:36] janrudolph commented on #148
Please find my feedback attached:

<img width="209" alt="34029564-86921cb4-e169-11e7-8c3b-2fc4f54281a1" src="https://user-images.githubusercontent.com/3596824/34029809-9b9c52e0-e16a-11e7-8c2f-400b1213ad06.png">

<img width="211" alt="34029701-24362618-e16a-11e7-9109-e4bb3e8a9328" src="https://user-images.githubusercontent.com/3596824/34029810-9bb51b5e-e16a-11e7-919a-5424f27795f9.png">

[2017-12-15 12:58] ruKurz opened #173 "Do not show Tokens if no Solr results have been found"

[2017-12-15 13:01] ruKurz commented on #173
I pushed the fix to branch `release_0.6.1`. This should be delivered with `RC3`

[2017-12-15 13:33] ruKurz opened #174 "Prevent unauthorized access to a foreign client"
**Setup Smarti**
- Create 2 Clients in Smarti (e.g. `team` & `localhost`)
- Create a client token for `localhost`

**Test**
- Start a conversation in both clients: `team` & `localhost`
- Use the Token from `localhost` and the `channelId` from `team` to send a message to the team client:

[code]

**Result**
- A new message in the existing conversation of the `team` client is created

**Expected beh

[2017-12-15 13:46] #173 closed

[2017-12-15 13:51] ruKurz commented on #170
Is there a place in the swagger file, that describes how to authorize, using HTTP-headers. Is there any documentation, that explains how to authorize against the Smarti API?

[2017-12-15 13:57] ruKurz commented on #147
@westei Can you please write a short doc on how you run the stress test for the ressource consumption behavior of Smarti?

[2017-12-15 15:22] westei commented on #174
I just tried to replicate this, but I am getting the expected response when I use the wrong auth-token

[code]
and the following with the correct token
[code]

[2017-12-15 15:27] ruKurz commented on #174
Also Jakob reported that he is not able to reproduce. While I'm able to reproduce this isussue constantly. I still want to investigate on the differences.

[2017-12-15 15:58] westei commented on #174
your original curl request was not working for me because you mist quotes for the auth-token header

 `-H x-auth-token:<LOCALHOST_TOKEN>` -> `-H 'x-auth-token:<LOCALHOST_TOKEN>'`

but this can not be an explanation for the behaviour you are reporting

[2017-12-15 16:25] ruKurz commented on #174
By setting `security.config.enabled=false` I did disable the auth.
Soory!

[2017-12-15 16:25] #174 closed

[2017-12-15 19:34] ruKurz commented on #170
Found the docs at: `docs/src/configurations/client-configuration-api.adoc`

[2017-12-15 19:34] #170 closed

[2017-12-15 19:57] ruKurz commented on #170
Very cool: Now editor.swagger.io supports an authorization feature:
<img width="583" alt="swagger-auth" src="https://user-images.githubusercontent.com/853776/34058250-9a8ab0de-e1da-11e7-8eac-c8bd941da56b.png">

[2017-12-15 19:58] ruKurz commented on #170
well done!

[2017-12-16 00:58] ruKurz opened #175 "Update doc for 0.6.1"

[2017-12-28 09:00] westei opened #179 "Document Smarti Heap Requirements"
Document the results of the Investigations performed within #147. Highlight the results as well as configuration options and their impact on Heap Requirements of the Analysis.

[2017-12-28 09:01] westei commented on #147
created #179 for the documentation

[2017-12-28 09:01] #147 closed

[2017-12-28 12:58] westei commented on #150
I can add an Webservice that allows to trigger re-indexing. For an UI integration I would need the help of @ja-fra

[2017-12-29 11:32] westei commented on #150
@mrsimpson Noticed that adding a re-indexing option to the Admin API does not do the trick, as in a Cloud setting the Solr Indexes are only local, but the Admin UI is global. So by calling this function one would only trigger re-indexing on the local Solr index. All other cloud instances would not perform the re-indexing.

To provide this functionality we would require some kind of notification sy

[2017-12-29 12:55] westei commented on #150
Implemented a feature to the conversation index that allows to detect updates to the index.

After incompatible changes to the `schema.xml` or the indexing logic the `ConversationIndexConfiguration#CONVERSATION_INDEX_VERSION` needs to be increased.

A change of this version will trigger a full re-build of the conversation index on the next startup.

This replaces an older workaround that (by defau

[2018-01-04 08:55] janrudolph opened #180 "Tags in knowledge base disappear when switching the sidebar panel"
An user adjusts the tag list of a knowledge base solr search (adding or deleting tags). If the user switches then to another panel in the sidebar (e.g.  to the user list) or closes the sidebar, the adjusted tags will not appear when switching back. Instead, new tags will be loaded.

This is not a desired behavior. An user will expect to find the same tags as before, as the content in the channel h

[2018-01-08 10:31] #172 closed

[2018-01-08 10:31] #179 closed

[2018-01-08 10:57] #171 closed

[2018-01-08 11:28] westei commented on #150
for validation one can look for INFO level loggings on startup:

* in case of a full re-index because of a version update the log will contain `conversation index contains documents indexed with an outdated version - full re-build required`
* in case of a partial update (no version update) the log will note `Perform partial update of conversation index (lastSync date: {date})`
* in case a fill re-

[2018-01-08 11:49] #175 closed

[2018-01-15 10:08] #150 closed

[2018-01-18 09:55] westei opened #182 "Update Documentation for 0.7.0"
This includes Swagger as well as askiidoc

[2018-01-18 10:20] westei opened #183 "Chatpal-Search support"
Add support for a Chatpal backend (Solr Index) to Smarti.

This will provide the Solr features as required by Chatpal based on the Embedded SolrIndex already used by Smarti. It will also support Cloud-Sync based on MongoDB

[2018-01-23 14:37] mrsimpson commented on #148
# Review

## To be improved

- [ ] The knowledge sources selection should be visible without expanding it. Else, the users don't know that the source can be switched.
Proposal: Visualize as many tabs as possible, have `...` if more are available
- [ ] The differentiation of entering values into the additional search field vs. adding a token is unclear from a user's perspective. Does that add the s

[2018-01-23 16:19] janrudolph opened #184 "Admin UI - Default configuration is not loaded"
If one creates a new client in the admin UI, the default configuration is not loaded. A default configuration is indicated by a checked checkbox.

[2018-01-23 16:21] janrudolph opened #185 "Admin UI - Change Client deletion dialog"
When an admin wants to delete a Smarti client in the web interface (UI), the system asks if the admin is sure about this operation. The "Okay" is pre-selected in this dialog. This is a potential threat because it does not prevent misuse and therefore data loss.

The scope of this issue is to redesign this dialog. Possible solutions are:

- Pre-select the abort action in the dialog
- Add an additio

[2018-01-23 17:22] mrsimpson opened #186 "Close-conversation-information is not transferred to Smarti"
### Expected Behaviour

When closing a conversation, the user feedback is should be transferred to Smarti.
It also should respected when searching for conversations

### Actual Behaviour
The information is not available in Smarti

### Steps to Reproduce

- Create a new request
- Close it supplying a comment
- Check the conversation in Smarti

### Environment

* **Smarti-Version**: 0.6.1

[2018-01-23 21:25] mrsimpson opened #187 "Context of a room is not visualized in new widget"
### Expected Behaviour

A request room (precisely the help request for it) may contain additional information about the business context, in which the request has occurred. This context helps experts to evaluate the problem more efficiently and saves additional questions.

### Actual Behaviour

This context is not visualized in the current widget implementation.

### Steps to Reproduce

* Create e

[2018-01-29 12:13] westei commented on #187
@mrsimpson just to be clear. You are referring the `support_area` right?

[2018-01-29 12:34] westei commented on #184
@janrudolph Do I understand this correctly:

When creating a client one can only define the name and description. In addition one would have a checkbox  "use default configuration" . If checked the default configuration is applied to the new client.

After creating the client the UI would switch to the "Edit Client Configuration" page

[2018-01-29 12:46] mrsimpson commented on #187
Nope, I’m referring to the context itself

[2018-01-29 13:41] janrudolph commented on #184
@westei We already have a checkbox named "default" in the list view. In previous version, this checkbox indicated the client which should be copied when creating a new one. This worked pretty fine. But when creating a new client now (with the UI), the default checkbox is ignored. The new client will be empty (no configuration).

[2018-01-29 14:17] westei commented on #184
ok now I understand the issue

[2018-01-30 08:28] westei opened #189 "Token based Related Conversation"
We need a QueryProvider that supports to suggest related Conversation based on Removed/Added Tokens of the User.

The current SolrMLT based solution does not allow for this and for using the ConversationQueryBuilder the conversation service needs to support uploading modified Analysis (with updated Tokens based on User Interactions with the Widget).

This will also require a configuration change f

[2018-02-01 07:23] westei opened #191 "Support indexing/search of ongoing Conversations"
Currently conversations that are not competed are not searchable by Smarti.

In Future those conversation will be indexed. An additional field holding the completion state shall be added

[2018-02-01 10:19] westei opened #192 "Conversation MLT-Query-Builder should only use recent messages"
Currently the Conversation MLT query builder uses the whole text of the conversation. Because of this suggestions for longer conversation are no longer relevant to recent message.

To improve results only recent messages should be used for finding relevant conversations

[2018-02-02 10:11] ja-fra commented on #184
The `default`-client was used when a new client was implicitly created server-side when an unconfigured client was accessing for the first time.

Since we now have full authentication in place, this mechanism does not work any longer - thus the flag `default` is not used any more and can be removed.
If you want to create a new client based on an already existing one, use the "clone client" button

[2018-02-02 10:58] #66 closed

[2018-02-02 10:58] #65 closed

[2018-02-02 11:02] ja-fra commented on #185
![image](https://user-images.githubusercontent.com/1815139/35730051-ea0fac3e-0810-11e8-91e9-ec76fa1ddae2.png)

[2018-02-02 12:51] westei opened #193 "Special characters in configuration keys cause MongoDB-Exceptions"
Mongo does not allow `.` in field names. Configurations that use `.` in key names can therefore not be stored.

To solve this the Spring mapping needs to be configured to replace keys with a different char

[2018-02-02 13:20] westei commented on #189
Server side implementation is more or less complete. Widget support is pending (hence assiging to @Peym4n )

The query is based on the `related.conversation` template. Here is an example Query

[code]
Notes:

* The `url` is not yet set, but this is expected to do a `GET /conversation/search-message`
* `filterQueries` are set based on the configured meta fields and context information of the conver

[2018-02-05 06:04] westei commented on #186
Define:

1. where/ how to get the comment provided with the close action
2. decide how to store it with the conversation (name of the property)

[2018-02-05 06:21] westei opened #195 "Remove Index based references"
Currently index based references are used on some places. Those need to be replaced by ID based references.

This includes:

* Tokens need to reference the message by ID and not by index
* Provide an ID for Tokens. This ID needs to be stable based on the features of the Token (If a similar Token is created by a re-analysis it must get the same ID)
* Provide an ID for Templates
* Templates need to

[2018-02-05 07:00] janrudolph commented on #185
@ja-fra This looks much more beautiful :) Is the delete button still pre-selected?

[2018-02-05 07:02] janrudolph commented on #184
Okay, thank you for the background info. I am fine with this. However we should discuss this in our weekly. This has implications on the setup process of a new client.

[2018-02-05 07:07] janrudolph opened #196 "Admin-UI - Rename button "Clone" to "Clone Configuration""
Please rename the button "Clone" to "Clone Configuration" in the Smarti config UI. The button actually clones the configuration and not the stored conversations as well. One can assume that by clicking the button the conversations are cloned as well.

[2018-02-05 07:14] ja-fra commented on #185
Nope, nothing is pre-selected. Pressing `Esc` for "Cancel" is the only keyboard shortcut.

[2018-02-05 07:15] mrsimpson commented on #186
Technically, it is a message with a defined type. It needs to be ensured, that the widget backend propagates it. Then, should be transmitted and persisted as every other message, imho

[2018-02-05 10:33] mrsimpson opened #198 "Migration from MLT to conversation search"
### Expected Behaviour

As an admin, I don’t want to manually edit all configurations in order to use the new widget for finding related conversations.

### Actual Behaviour

We configured the conversation search already with defaults, we don’t really know whether we need something like a migration script.

### Steps to Reproduce

_what do you need to do to reproduce the error_

### Environment

*

[2018-02-09 09:34] westei opened #200 "Tempaltes and Queries need always be built"
The widget gets the sources ("Quellen") from the queries in the analysis response. Currently templates and queries might not be present if no fitting Tokens where extracted from the conversation.

In this case the Widget is missing information about available sources and can not use them even if the user manually creates Tokens in the User Interface.

[2018-02-09 09:35] westei opened #201 "The conversationsearch query builder shall consider Tokens"
Currently the conversationsearch query builder only considers attributes but ignores extracted terms (such as Named Entities like locations, organisations and persons)

This needs to be changed.

[2018-02-09 18:13] mrsimpson commented on #201
it was appreciated if the different terms got boosted differently - at least, adjectives should be downgraded

[2018-02-09 18:14] mrsimpson commented on #200
maybe, the query could be flagged so that a consumer knows it's lacking input in order to produce meaningful results.

[2018-02-10 17:43] mrsimpson opened #202 "Execute migrations in docker image"
### Expected Behaviour

Starting the docker image triggers the necessary DB migrations

### Actual Behaviour

DB migrator is started, but doesn't find any scripts to execute

### Steps to Reproduce

* Start with 0.6.1
* Create a conversation
* Stop 0.6.1 and start 0.7.0

### Environment

* **Smarti-Version**: `0.7.0-BETA`

I already tried adapting the `Dockerfile` to execute `CMD ["--smarti.requir

[2018-02-12 10:33] janrudolph commented on #200
Decision: Provide a meaningful information for the user that no sense could be made of the conversation and a call-to-action to enter search terms

[2018-02-12 11:04] andresgruber opened #203 "Preamble of posted conversation / message must not be analyzed"
I a user selects and posts a message or conversation into the conversation, the preamble  such as "Ich habe eine passende Konversation gefunden:" or "Das hab ich dazu in <kanalname> gefunden" must not be analyzed and appear as tag.

[2018-02-14 09:48] ja-fra commented on #52
Updating edited messages is deactivated in the Assistify-AI package:

https://github.com/assistify/Rocket.Chat/blob/24882e118a26fe410b3637dee21098ac99f05a44/packages/assistify-ai/server/hooks/sendMessageToKnowledgeAdapter.js#L8

[2018-02-14 13:22] ThomasRoehl opened #204 "Smarti Widget doesn't load results when open on message"
When typing and sending a message with the knowledgebase-tab open the widget results don't get refreshed automatically.

![0_ smarti_integration _ request _second_request_post_knowledgebase_answer_ failed](https://user-images.githubusercontent.com/11913979/36206312-35dbe378-1192-11e8-9fba-24e4562fc59a.png)

After closing and reopening the knowledgebase-tab the results are visible:

<img width="143

[2018-02-14 14:51] mrsimpson opened #205 "New Smarti widget: Analysis result cleared on post message"
### Actual Behaviour

When posting the a result from the message search, under some circumstances, the analysis and queries are purged, see movie below

### Steps to Reproduce
![widget cleared mov](https://user-images.githubusercontent.com/17176678/36210539-f16f783c-119e-11e8-8bd8-432296a5a7cd.gif)

### Environment

* **Smarti-Version**: `66acf7a `
* **Additional Components**: No interesting terms

[2018-02-14 15:00] ThomasRoehl opened #206 "No results without keywords"
### Expected Behaviour

Related Conversations should show results based on the tokens found by the nlp analysis. Not only by the keywords extracted from the Wikipedia-core

### Actual Behaviour

No Results showed when no keywords are extracted from the message.

### Steps to Reproduce

Run Smarti without a Wikipedia-core and test the normal help-request behavior
No Keywords get extracted:
![image]

[2018-02-14 17:53] westei commented on #206
@Peym4n I recently included Tokens for the conversation Search template. Looks like as this needs also to be done for the Widget. Can you please have a look to it.

[2018-02-14 19:17] mrsimpson commented on #206
@westei Are you sure it’s „only“ the UI? It’s not only that the tokens are not visualized, also the query was not executed

[2018-02-15 13:49] ja-fra commented on #205
I was able to reproduce the error, even without "posting".

The Problem is, that by posting _I found a related message_ the result of language-detection switches from German to English which is currently not supported.

Once you add enough German text so the language detection switches back, the extraction works again.

@westei - any idea how we could deal with such multi-lingual conversations?

[2018-02-15 14:32] ja-fra commented on #206
IMHO this is working as intended. Without tokens, we're not able to query the sources.

The "analysis-result" @ThomasRoehl is referring to is from the **conversationmlt**-provider - which is working even without tokens, but hidden from the widget (as requested in #189)

[2018-02-15 14:40] mrsimpson commented on #206
@ja-fra in this case, tokens are extracted, but no keywords. @throehl can you add the json of the get to /analysis?

[2018-02-15 16:04] ja-fra commented on #204
@ThomasRoehl - which version did you use here? I'm not able to reproduce it with smarti 7fa0edf1 and rocket.chat redlink-gmbh/Rocket.Chat@38dd8aca

end-to-end tests also work: `43 passed, 1 pending`

[2018-02-15 17:18] ja-fra commented on #206
Now you got me - Yes, there's a filter in the widget to only show tokens of `type !== 'Attribute'`.

[2018-02-15 18:54] ja-fra commented on #198
@mrsimpson I've added a simple bash/curl script for the configuration update:

https://gist.github.com/ja-fra/9dece2e5c78a96a1c3261d774ab96722

[2018-02-16 13:20] ruKurz commented on #198
Instead of running the script I edited the configuration of our Team Chat. As show in the screenshot. There ist no `conversationmlt` configured anymore. Also now there are no related conversations found.
<img width="1162" alt="bildschirmfoto 2018-02-16 um 14 18 05" src="https://user-images.githubusercontent.com/853776/36309314-7321c0d4-1324-11e8-831b-36c8cf83fb60.png">

[2018-02-19 09:00] ruKurz opened #207 "No releated conversations found/displayed after Upgrade to 0.7.0"
After upgrading to Smarti 0.7.0 there are no related conversations suggested.

Regarding issue https://github.com/redlink-gmbh/smarti/issues/198 we have updated the client configuration by deleting all conversation-mlt/conversation-search manually and adding a new conversation-search afterwards:
[code]

**Note:** When opening the knowledge base there is not logged any exception to the Smarti main.

[2018-02-19 09:56] westei commented on #207
Can you make a `GET /conversation/{conv-id}/analysis` to see the analysis results for the conversation?

[2018-02-19 10:24] mrsimpson opened #208 "Ignore code-blocks in analysis"
### Expected Behaviour
Quote blocks ` ``` ` should be ignored when analyzing conversations.

### Actual Behaviour
The parser even tries to detect the language.

[2018-02-19 10:38] ruKurz commented on #207
[code]

[2018-02-19 11:08] westei commented on #207
if this was a request for a topic it looks like expected. For Requests I would expect `meta_support_area:({support-area})`in the `filterQueries` array

[2018-02-19 11:43] ruKurz commented on #207
here is one of an request:

[code]

[2018-02-19 14:46] westei commented on #198
Year I added all the new options to the default configuration so users are aware of them. All the values are the defaults so technically their is no difference between the two configurations

[2018-02-19 14:47] westei commented on #198
The reason for you not getting any releated conversations is indeed #207 that was hopefully fixed by my last commit

[2018-02-21 11:49] mrsimpson opened #209 "Chatpal-Integration: No client support"
### Expected Behaviour

A team's conversations (providing a unique API-key) should be visible only to this team.

### Actual Behaviour

Currently, all conversations are indexed into the same core and are globally searchable.

### Steps to Reproduce

- Set up a chat && connect Chatpal via Smarti
- Enter a message into the General-channel
- Set up a second chat && connect it to Smarti using another

[2018-02-22 07:27] westei commented on #209
So ich the same Rocket.Chat user is in both Teams (as the case in the described setting) he should not see results of both?

Currently it is only checkt that the authentication is vlid no explicit Filter for the Client is added to the query. Filtering is (only) based on the rooms the user is subscribed to (provided by Chatpal) allowing a User included in multiple Teams to find all Messages he has

[2018-02-22 08:02] mrsimpson commented on #209
I am quite sure you’d only expect to see the results from this one client. We might add this as a setting lateron, but for the time being, I consider this „default“ not being expected

[2018-02-22 08:38] janrudolph commented on #209
I support @mrsimpson

In future the cross team search will be really cool. But this has to be reflected in the UI as well. The user must have a way to specify the search (one team, multiple teams).

@westei What ID do you use for the cross-team identification of a user?

[2018-02-22 08:57] mrsimpson commented on #209
I thought about the current implementation: since the Chatham backend filters the accessible rooms, it is always a client specific search - except if there are rooms with the same _id in both clients. This is not likely the case with GUIDs, there is always the channel with the id „GENERAL“. So you’d only see messages from general-channels of other clients. But since they exist in all of them, we m

[2018-02-22 09:06] westei commented on #209
[1f5c548](https://github.com/redlink-gmbh/smarti/commit/1f5c54813e86da0ba59143b7aee9fa0a0387565d) added the filter for the Client ID. So now only messages from the current Clinet will be returned by the Smarti Chatpal Backend

[2018-02-22 09:39] janrudolph opened #210 "[Bug] Paging is missing"
### Actual Behaviour

Please have a look on the screenshot.

![wissensbasis-paging](https://user-images.githubusercontent.com/3596824/36530905-a194e648-17bc-11e8-8a70-3ba8994d188a.png)

Additional infos:
- Problem occurs in open and closed conversations

[2018-02-22 09:46] janrudolph opened #211 "Change color of pinned tags"
### Expected Behaviour

A pinned tag should look different than a non-pinned one. Please change the color of a tagged pin. The color should change back, if the user unpins a tag.

### Actual Behaviour

The color does not change.

### Steps to Reproduce

1. Pin a tag
2. Color does not change

[2018-02-22 15:09] westei commented on #210
**Expected:** Endless Scrolling is used instead of scrolling

looks like that if more space is available as taken up by the initial results endless scrolling is not activated

[2018-02-22 16:19] mrsimpson opened #212 "Conversation search in widget: Respect configuration for context"
Currently, the conversation search provider can be configured to respect messages before and after the one in focus for finding the identified terms.
However, the context currently visualizes only those *after* the match.
This may lead to incomprehensible results for the user

[2018-02-22 16:20] mrsimpson commented on #189
Created #212 as a minor left-over

[2018-02-22 16:20] #189 closed

[2018-02-22 16:21] mrsimpson commented on #201
@westei Is there any boosting of particular token types? I think we should open a separate issue for that

[2018-02-22 16:21] #201 closed

[2018-02-22 16:22] #196 closed

[2018-02-22 16:22] #183 closed

[2018-02-22 16:24] mrsimpson opened #213 "Smarti widget: Provide "can not help"-information"
as per #200, queries are now always being built - but if there's no query to be executed (e. g. since no token could be extracted), there should be a meaningful information on the widget that Smarti cannot help at the moment

[2018-02-22 16:25] mrsimpson commented on #200
For the widget, I created #213.
However, there has to be some information on the API level that the state of Smarti "not being able to help" can be respected in the UI.

@westei is this information already part of the model?

[2018-02-22 16:27] mrsimpson commented on #180
I checked both, hiding the panel, switching to another panel and also switching to another room. All the tags remained. => seems to be fixed

[2018-02-22 16:27] #180 closed

[2018-02-22 16:28] mrsimpson opened #214 "Smarti Widget: Jump to conversation"
If permissions allow it, the origin message found by Smarti could be navigated to (see Chatpal)

[2018-02-22 16:29] mrsimpson commented on #148
created #214 for the navigation. => closing this one, really nice job, @Peym4n !

[2018-02-22 16:29] #148 closed

[2018-02-22 16:30] mrsimpson commented on #198
worked.

[2018-02-22 16:30] #198 closed

[2018-02-22 16:34] mrsimpson commented on #191
![Clipboard - 22. Februar 2018 17-32.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5964d542d69911001fbe82ef/125516c66e82c728ace21e0d46cb989333808ca89dedff0ee40fa2da696022713b11a23930d7b379e7022a56425c4cbe5d4a1f06a3a3dc78e2a436628f550dead06c0e7ccf3c42faeed01fbf00ef238d19d1bee99850d2aa6c7bb3d4d216744b470a83ed5c3daa984ec951f54ae64f51ad173764f43b.png)

[2018-02-22 16:34] #191 closed

[2018-02-22 16:34] mrsimpson commented on #192
Obsolete, since conversation MLT is replaced with conversation search now

[2018-02-22 16:34] #192 closed

[2018-02-22 16:35] mrsimpson commented on #207
Validated as issue of the migration

[2018-02-22 16:35] #207 closed

[2018-02-22 16:36] mrsimpson commented on #206
The widget has been adapted to show all token types

[2018-02-22 16:36] #206 closed

[2018-02-22 16:38] mrsimpson opened #215 "Boost tokens based on their type differently"
Smarti extracts tokens of a particular type. For describing the content of the message or the conversation, they have a different relevance:

Attributes are much less relevant in most cases compared to interesting terms or keywords.

This should be respected when triggering a search.

[2018-02-22 16:39] #86 closed

[2018-02-22 16:40] mrsimpson commented on #86
nice job redesigning the API. Thanks, @ja-fra @westei @ruKurz

[2018-02-22 16:40] #185 closed

[2018-02-22 16:40] #184 closed

[2018-02-22 16:41] mrsimpson commented on #184
see #216 for a small bug

[2018-02-22 16:42] mrsimpson opened #216 "Copying the default configuration => new default"
When cloning the default configuration, the default-property seems to be copied as well. Thus, the copy is the new default after it's been save.

Expected: The old default configuration remains default

[2018-02-26 10:20] westei opened #217 "Indicate for Queries that they are not valid without user added tokens"
With #200 all queries are added so that the client is notified about this query to be configured.

So we need a new way telling the client that this query is currently not `usefull` (e.g. no tokens are assigned).

User generated tokens can still make those queries active

[2018-02-26 11:47] westei opened #218 "Basic Context Analysis"
Since `0.7.0` conversation are analyzed after every change. This has a performance impact for long conversations.

As current widget only use information of recently sent messages an optimization is to only analyse recent messages. The size of this context shall be configured in the `application.properties`

NOTE - outside of the scope of this issue - Future versions will provide more options and

[2018-02-26 11:51] westei opened #219 "Contextual Analysis"
Add features to Smarti that allow to define the context to be analysed:

This context can be defined by:

* global configuration in the `application.properties` (global default)
* client specific configuration (default)
* parameters parsed to the analysis request in the webservice

In addition the default may be different for different types of conversations (topic, request, ...)

This are just po

[2018-02-26 12:02] Peym4n commented on #211
Pinned tags will now have a pin on their left side, so they can be distinguished from non-pinned tags.

[2018-02-26 12:07] Peym4n commented on #210
I changed the number of initially loaded results to always be at least 6.
And each time a source is clicked the widget will try to load more results if the scrollbar is not shown yet.

[2018-02-27 09:23] ruKurz commented on #193
@westei you can decide wether this is done or not. So feel free to move it to done.

[2018-02-27 09:24] ruKurz commented on #218
What is the default and has this option be documented?

[2018-02-27 10:36] westei commented on #218
* default is `10` (defined in `application.properties` in smarti-application module)
* commented in the `application.properties` distributed with the packages
* documented as part of the analysis configuration (`application-configuration.adoc`)

[2018-02-27 10:37] #193 closed

[2018-02-28 13:33] #182 closed

[2018-02-28 13:33] #205 closed

[2018-02-28 13:33] #209 closed

[2018-02-28 13:33] #210 closed

[2018-02-28 13:33] #211 closed

[2018-02-28 13:33] #218 closed

[2018-03-05 09:26] ruKurz opened #220 "Improve UI message, if no results are found"
If no results have been found, the user should be informed friendly and readable.
![Bildschirmfoto 2018-03-05 um 10.27.56.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594e29c43945af002026f49a/125516c66e82c728ace21e0d46ca9d96279180a186fbb245ab49ffd47b16762b6454f06620d0a33db2022a51415d49b2445e4d58eeb9cb74fce36f34985619e8d86b5875c76c19a5b9d149e953ba208a1a86b0eade4495fa2137

[2018-03-05 10:07] ruKurz commented on #217
#213

[2018-03-05 10:08] westei commented on #213
depends on #217

[2018-03-05 10:24] ruKurz opened #221 "Support area should be set for topics"
It must be ensured that a `support area` is set for each topic.
Therefore the  `support area` of a topic should be set to the `topic name` itself.
By implementing this issue, updating existing conversations must be considered.

[2018-03-06 06:27] westei commented on #221
@mrsimpson: Oliver can you please describe how we are getting the Support Area information for the topic channels.

@Peym4n the Smarti Widget needs to take care of applying changed meta information (such as the support area) to existing conversations in Smarti. Please check if their is a Channel update event in Rocket.Chat

[2018-03-08 11:26] mrsimpson commented on #217
I used the new message-search for some time now and it works as expected. However, the tokens extracted are often too meaningless (e. g. only adverbs/adjectives like "gerne"). Often, no tokens at all are extracted rendering the query useless. At the same time, the more-like-this-based query gave quite decent results and I have to say I miss it.

I came to the conclusion that bot query providers ha

[2018-03-09 08:32] westei commented on #217
Ich stimme Dir zu. Die Herausforderung ist, dass MLT as Ergebnis eine Conversation hatte und die ConversationSearch nun einzelne Messages zurück gibt.

Damit der MLT Provider mit der Token basierten ConverationSearch zusammenpasst muss man Ihn so umbauen, dass er auch Messages als Ergebnis liefert. Dazu muss man testen ob der MLT Ansatz mit den potenziell kurzen Texten von Messages funktioniert. W

[2018-03-09 10:51] mrsimpson commented on #217
@westei what about analyzing similarities of a "window" of messages. I don't know how to implement this inside solr (without permutating too much) and blowing up the index

[2018-03-09 11:26] westei commented on #217
For sure this would increase the index size, but I do not think this is a problem.  The problem is more that you will get overlapping segments of conversations as results ( e.g.  a result `c1#m[3-8]`and  an other result `c1#m[5-10]`). One needs to collect those and generate the response accordingly.

For the Conversation Search we use Solr Grouping to get the Results grouped by conversation and th

[2018-03-12 08:28] mrsimpson opened #222 "External Solr - decoupling and synchronization"
### Expected Behaviour

When using an external Solr, there should be a mechanism to handle non-availability of the Solr-server.

### Actual Behaviour

Updates get lost

[2018-03-12 08:34] mrsimpson opened #223 "Respecting a client's vocabulary for interesting terms"
### Expected Behaviour

As conversations are created in Smarti, a vocabulary with terms specific to this client is getting created. This body of knowledge should be respected when extracting interesting terms.

### Actual Behaviour

Only the generic pre-scanned sources are respected.

[2018-03-12 08:57] mrsimpson commented on #202
I actually did almost the same, but the migrations only ran once I adapted the migrations home.
I'll close it for the time being until I can reproduce it

[2018-03-12 08:57] #202 closed

[2018-03-12 09:02] mrsimpson opened #224 "Create a new client with a token for automated setup"
### Motivation

When setting up new Assistify-instances, a Smarti-client needs to be configured automatically. Since we introduced the authentication and got rid of `/rocket`, there is no option for a consumer to create a new client unless it provides admin-credentials.
In a automated environment, we can either distribute admin-credentials or provide another mechanism.

### Proposal

In order to d

[2018-03-12 10:35] mrsimpson commented on #217
jup, understood. I imagine that a window of the messages issued by the author could be a good base for the more-like-this analysis

[2018-03-12 10:42] ruKurz commented on #217
@westei Could you please provide a suggestion how to solve this problem. So we can discuss how to proceed/implement a better user experience?

[2018-03-12 10:43] mrsimpson commented on #203
probably, it's a good idea to provide a custom message type - instead of a plain text message

[2018-03-12 10:51] mrsimpson commented on #208
Although the actual intention is to ignore technical content for analysis, the implementation to just ignore the part inbetween triple ``` is the workaround in the scope of this issue

[2018-03-12 10:52] ruKurz commented on #208
Decission for `0.7.1`: Ignore for analysis but index.

[2018-03-12 10:54] mrsimpson commented on #52
Since an update of individual messages is now possible, the adapter needs to respect that. Smarti 0.7.0 supports a `put` to the message

[2018-03-12 11:04] ruKurz commented on #224
Why do we need to distribute admin-credentials? As all other configs (also RC) we are using admin credentials to access the API. Since Smarti supports basic auth we can automatically create new clients via a script, using postman or curl.

[2018-03-12 11:06] ruKurz commented on #224
The solution proposed allows the anonymous creation of (unlimited) client configs. IMHO this should require an authentication.

[2018-03-12 11:17] ruKurz commented on #222
Currently Smarti supports Solr Synch. If MongoDB and Solr are running out of synch, a delta synch (based on timestamps) is executed. When switching over to an external Solr cloud, the current synch mechanism must be disabled because multiple Smarti instances connected to the same Solr are concurrent. In the worst case all of those Smarti clients request for a synchronization at the same time for t

[2018-03-12 11:30] ruKurz commented on #219
Required input:

- definition of context (prosa)
- identification of parameters that are describing the context
- JSON representation of that context
- default values (client config and application.properties)

[2018-03-12 11:38] ruKurz commented on #217
Challenge: Combining the `conversation-search` query builder with the `conversation-mlt` query builder raises the question how to create a comprehensible user experience.

**Suggestion**
- Server-side: Only use the `conversation-mlt` when no tokens have been extracted and no user tokens have
- UI-Side: Adjust the user interface to present the `conversation-mlt` in the same way as the `conversation

[2018-03-12 11:40] ruKurz commented on #215
@mrsimpson what do you mean by `attributes`, adjectives?

[2018-03-12 11:43] ruKurz commented on #213
Isn't this a duplication of: https://github.com/redlink-gmbh/smarti/issues/220 or the other way around?

[2018-03-12 11:47] ruKurz commented on #168
Currently we do not have that much users. All users getting access to the Smarti backend are privileged in some way. It's good enough at the moment.

[2018-03-12 11:49] ruKurz commented on #167
Thump-up: for resolving this issue, since one user can lock out another one.
Confused: Why did we not find this issue before?

[2018-03-12 11:52] ruKurz commented on #203
I like that suggestion because it maybe reused by other types of messages, that should not be index. Maybe we can introduce some `search-exclude` flag.

Not sure but maybe this can also be reused to solve: https://github.com/redlink-gmbh/smarti/issues/208

[2018-03-12 11:54] ruKurz commented on #139
@mrsimpson Is this issue obsolete by introducing chat-pal?

[2018-03-12 11:55] ruKurz commented on #138
@westei , @mrsimpson I would suggest to solve this issue with milestone `0.7.1`, WDYT?

This is also related with: https://github.com/redlink-gmbh/smarti/issues/220

[2018-03-12 11:57] ruKurz commented on #132
Is this issue also existing when using the `conversation-search` query builder?

[2018-03-12 12:02] ruKurz commented on #129
I think this issue is solved by introducing the new Smarti widget, isn't it?

[2018-03-12 12:03] ruKurz commented on #96
@ja-fra regarding 2) this is adressed by https://github.com/redlink-gmbh/smarti/issues/208

[2018-03-12 12:08] ruKurz commented on #95
The more I'm thinking about this, we should implement a deletion in the manner of `delete`. Reason: if someone is spending the effort to clean up the knowledge base, he wants to delete. I can not imagine a real world scenario where a user likes to reuse a message/conversation that has been deleted actively. (Compared with a content management, where a lot of effort is being spent to create article

[2018-03-12 12:11] ruKurz commented on #63
This issue is solved by using the support area for questions/requests. For topic channels there is an separate issue: https://github.com/redlink-gmbh/smarti/issues/221

[2018-03-12 12:11] #63 closed

[2018-03-12 12:12] ruKurz commented on #59
**Proposal**
Down-boost the suggested results by conversation date.

[2018-03-13 13:47] ThomasRoehl commented on #204
@ja-fra I can't reproduce it as well. Seems to be fixed with the newer version.

[2018-03-13 13:47] #204 closed

[2018-03-15 16:07] ruKurz commented on #38
@janrudolph MSZ has requested this feature as well.
@westei Can we implement this for version `0.7.1`?

[2018-03-17 06:52] ruKurz opened #225 "Automatic reloading of results does not work as expected"
<img width="400" alt="bildschirmfoto_2018-03-17_um_07_33_42" src="https://user-images.githubusercontent.com/853776/37552442-b717b5c6-29b5-11e8-8646-6fc5b21592d3.png">

### Expected Behaviour

After scrolling down the search results, next results should be loaded dynamically.

### Actual Behaviour

In some cases the lazy loading stops, even there are results left.

### Steps to Reproduce

1. Open a

[2018-03-17 14:12] ruKurz commented on #221
topic channels are currently named `expertise` within the RC code. Expertises are defined in

[code]

and extending the regular room type configs within Rocket.Chat (`RoomTypeConfig`).

In order to pass the supportArea within the `SmartiAdapter` the following lines of code should help. Please note: I did not test the code running:

[code]

@mrsimpson could you please confirm that this is a possibl

[2018-03-19 07:38] westei commented on #213
if @mrsimpson agrees we can merge this into #220

[2018-03-19 07:40] westei commented on #220
@Peym4n  please also note #213

[2018-03-19 10:28] ruKurz commented on #221
as discussed in our meeting: It's possible and probably also best meaningful always to pass the `.topic`-property of the room as support area for all roomtypes

[2018-03-19 10:50] ruKurz opened #226 "When to open the knowledge base automatically"
Spend some hours in order to make a suggestion when to open the knowledge base.

[2018-03-19 18:50] mrsimpson commented on #221
fixed with https://github.com/assistify/Rocket.Chat/pull/267/commits/48a7f5a620b0fe6d41017ff98793ff4fa8c7c1aa

[2018-03-20 09:48] Peym4n commented on #203
We decided to add a flag `skipAnalysis` which can be set to `true` as a property of the `metadata` object of the message that is sent to Smarti.
This flag can then be set for other use-cases as well.

[2018-03-20 13:01] Peym4n commented on #52
Added in [this commit](https://github.com/redlink-gmbh/Rocket.Chat/commit/76be1dcae79b75d08183ddaf95ac9e7c2e4ecbe7).

[2018-03-20 13:34] Peym4n commented on #221
@mrsimpson, I just saw your commit.
LGTM.
I'll revert my commit.

[2018-03-21 12:05] Peym4n commented on #225
I removed the hard-coded minimum number of initial rows. The server-side config will always be used.
The widget can now detect if all the results are loaded already, and won't try to load more.
After loading the initial data, the widget will check if the results area is filled. If not, it will try to load more when remaining results exist.
And the results area is now fully shown and the lower part

[2018-03-21 13:25] andytipp opened #227 "Make i18n messages (preamble of posted conversation) configurable"
As an admin, I want to be a able to edit the preamble of the posted conversation (such as "Ich habe eine passende Konversation gefunden:" or "Das hab ich dazu in gefunden") in a free text field at the Admin interface.

For example, I want to be able to show no preamble in front of the posted conversation or customize the message myself.

[2018-03-21 16:46] ruKurz commented on #227
This configuration should be a client and query builder specific setting.
@westei Is there anything keeping us away to include this into the scope of `0.7.1`?

[2018-03-22 12:43] westei opened #228 "Allow to disable Filters for related Conversations"
The query builders for related conversations allow to configure filters (e.g. `support_area`)

This issue is about to allow the client (widget) to disable those filter when searching for related conversations.

[2018-03-22 12:51] westei commented on #227
The WIdget gets such configurations as `i18n` (@Peym4n please add an example).

I do not want to have such split up in various query builder configurations. IMO it is better to add a separate section for such data to the client configuration and implement an own web service that allows the widget to retrieve this part of the configuration.

This would allow to customise also other parts of the wid

[2018-03-22 12:58] Peym4n commented on #227
Currently these localized strings are used in the widget:

[code]

[2018-03-26 06:40] ruKurz commented on #227
How can we customize the standard texts without changing the standard distribution? In my opinion, labels etc. should be configurable.

[2018-03-26 06:55] ruKurz commented on #228
I think we should tackle this issue within `0.7.1`

[2018-03-26 08:46] westei commented on #227
If we want them to be configureable by client we need to use the Smarti `ConfigurationService` and add a Webservice that allows the Widget to get the client specific widget `i18n` configuration. If so we should create an according issue.

The system wide defaults should be configured as typical for `i18n` (I am sure @mrsimpson and @Peym4n know how this is usually done)

[2018-03-26 11:02] ruKurz commented on #227
Why do we need to create another issue. The title of this issue exactly matches our needs. I will rename it into a more generic description.

[2018-03-26 11:04] ruKurz commented on #227
The implementation effects Smarti code only (Webservice + Widget) there is no general Rocket.Chat adoption required.

[2018-03-26 12:01] westei commented on #227
* Smarti Admin UI (to add a new section for (widget config)
* Samrti Webservice to provide this config
* Smarti Widget: needs to check for the client specific `i18n` config

[2018-03-26 13:15] mrsimpson commented on #227
Why should we make this configurable per client? I expect a system wide configuration to be sufficient. @peym4n is it already possible to configure the widget‘s i18n without building it?

[2018-03-26 16:22] ruKurz commented on #227
@mrsimpson configure `i18n` is currently done in the JavaScript of the Smarti Widget. See @Peym4n comment above.

[2018-03-27 15:58] ruKurz opened #230 "Improve toggle conversation context in the Smarti widget"
### Expected Behaviour

Toggling the conversation's context should be more intuitive.
Use a symbol to expand the conversation's context of a suggested message.
This symbol should be placed below the suggested message.

![toggle-icon](https://user-images.githubusercontent.com/853776/37979262-6ed20a2e-31e8-11e8-8774-6672f3cecff8.png)

### Actual Behaviour

Toggling the context is currently done by t

[2018-03-28 12:28] janrudolph opened #231 "Do not store messages in Smarti if conversation is deleted in chat"
### Expected Behaviour

When an user closes a conversation, the conversation should be stored in Smarti. If the conversation has not been closed or if the conversation is deleted in the chat system, the conversation must not be stored in Smarti.

### Actual Behaviour

Currently, it does not matter if the user closes the conversation. The messages are stored in Smarti anyway. One side effect is tha

[2018-03-28 13:11] westei commented on #231
To make conversations that are not yet closed available to search request was an intentional change for `0.7.0`. For all versions `< 0.7.0` only published conversations where available for search.

Regarding the deletion: Looks like as the Smarti Rocket.Chat integration does not react on deletion events. This needs to be implemented.

[2018-03-29 05:38] janrudolph commented on #231
Okay, then focus on the deletion part here. I rename the issue

[2018-03-29 11:10] mrsimpson opened #232 "Bug: Put a message which does not exist results in error 500"
### Expected Behaviour

As @Peym4n commented in the smarti-adapter:
[code]

### Actual Behaviour

The put on a non-existing message of an existing conversation results in error 500.

### Steps to Reproduce

* Create a conversation.
* Make a `PUT` instead of a `POST` for creating a new message

### Environment

* **Smarti-Version**: `0.7.0`

[2018-03-29 12:39] mrsimpson commented on #231
I'm going to fix this on the SmartiAdapter

[2018-03-30 06:59] mrsimpson opened #233 "API: Query filter not applied properly"
Wen supplying a non-existant `channel_id` as filter, it returns documents which don't match the query.

| => curl -X GET --header 'Accept: application/json' --header 'X-Auth-Token: 86ae4861b24dfecb22c74438c1753b7f886cba99/3X2rJ578' 'http://localhost:8080/conversation?channel_id=**smarti-test-topic-87**'
{
  "content" : [ {
    "id" : "5abdde051e300803b483b97e",
    "meta" : {
      "status" : "Com

[2018-03-30 17:13] mrsimpson commented on #233
Also, I noticed that there are conversations which are effectively available, but are not returned via the query.
The conversation exists:
[code]

This very conversation it not found via the query (`/conversation`):
[code]

This can be reproduced via an integration-test: https://github.com/assistify/Rocket.Chat/commit/da51bb4ee300b0d025ea0f21aba87ce570d8753f

[2018-03-30 17:39] mrsimpson commented on #233
I just noticed that the missing conversation in the generic query could be due to pagination. Once cleaned-up, the tests run successfully! So only the issue with "how to query a conversation" remains

[2018-04-01 08:51] westei commented on #233
This is not implemented. The `GET /conversation` does not have any support for query parameters that filter conversations

[2018-04-01 16:15] westei commented on #228
See PR #234

[2018-04-02 18:08] westei commented on #217
After some experiments and testing I come to the conclusion that the best technical solution is to:

* calculate a textual context for every message
    * this context will be indexed in a field configured to be used by Solr MLT
* on every related Conversation request I will make a Solr MLT request (will all the filters) with `interestingTerms=details` but without selecting any terms.
    * this w

[2018-04-02 19:40] mrsimpson commented on #217
@westei I didn’t fully get the Solr implementation details, but the gist. And it sounds as if this made best use of the technology involved 👍

[2018-04-04 09:31] westei commented on #217
@Peym4n the Related Conversation Query now has a new field `similarityQuery` that contains the parameters for similarity queries.

The widget should send those parameters as value for the `q.alt` parameter. This has the effect that similarity search is used in cases where no tokens are present

In addition the Widget should only consider custom and maybe pinned Tokens for the conversation search (

[2018-04-04 12:01] Peym4n commented on #227
@mrsimpson currently the i18n data exists as json in the code.
I will separate it from the rest of the code and put it in an `i18n.json` file.

[2018-04-04 12:45] mrsimpson commented on #227
@peym4n having it in a separate file will still make it necessary to compile a new Smarti version. Unless it can be injected from the consumer to the widget (e. G. via the constructor or via a session variable), I’d not consider it „configurable“

[2018-04-04 13:55] Peym4n commented on #217
The widget part is also implemented.
Now only user tokens and pinned tokens will be used for search and when none of them exists (even when unpinned tokens exist) the similarity query is used.

There is a escaping bug on the server side which @westei will fix.

[2018-04-05 12:25] Peym4n commented on #227
@mrsimpson I'm aware of that. I just wanted the i18n strings to be separate. I wasn't proposing a solution. If anyone has a solution to make these strings configurable across the system I would be happy to implement it. It is possible to pass the data to the constructor of the widget and read it there. The question is then, how would they be configured on the Rocket.Chat side and where can they be

[2018-04-05 14:34] westei commented on #220
As far as I can see their are two main cases left:

* no tokens where extracted: In this case sources that require tokens should note that a user needs to adda search term for results.
    * NOTE that because of #217 this is no longer the case for the Expertengespräche
* the Room is not available in Smarti (exception, deleted, smarti was down ...): In this case the user needs to be informed that t

[2018-04-05 14:51] Peym4n commented on #220
This message is shown when the widget cannot find a conversation ID or Smarti has no conversation for the ID, which means that at some point there might have been a communication problem between Rocket.Chat and Smarti.

For now I changed the message to: "This room is not available in the knowledgebase!"

In another case when no tokens exist while they are required, the widget will ask the user to

[2018-04-05 14:56] Peym4n commented on #213
See https://github.com/redlink-gmbh/smarti/issues/227#issuecomment-378918260

[2018-04-05 15:27] mrsimpson commented on #213
How does the i18n address this issue?

[2018-04-06 05:15] westei commented on #213
If the widget does not have Tokens for a Query is shows the "can not help" message. Doing it on the server side is only part of the story. For sure one could mark a query as "incomplete" if no Tokens are available, but in the End the WIdget decides if tokens are assigned to a Query. So even if if Smarti things their are Tokens available the Widget might still not assign any Tokens (e.g. because th

[2018-04-06 05:33] westei commented on #227
What to we try to accomplish here?

* Is it sufficient to configure it in the i18n file part of the Smarti Widget. This will be releated to Smarti versions
* As @Peym4n noted one could add a feature that allows to parse i18n when constructing the WIdget. As far as I understand this would allow to manage this in Rocket.Chat
* If their is the need to have those things client specific I would suggest

[2018-04-06 08:39] Peym4n commented on #213
@mrsimpson when I first sent that comment I mistakenly linked another irrelevant comment (i18n) but then I edited it. The linked comment describes what the solution to this issue is.
And as I believe that #220 is a duplicate of this issue I closed this one.

[2018-04-10 06:43] janrudolph opened #236 ""Context" does not provide enough context"
### Expected Behaviour

If Smarti finds relevant conversations, an user is able to browse through the messages of each conversation is able to understand the found conversation.

### Actual Behaviour

Smarti just highlights one message and displays the following two if you click on "context". However, this is useless if the highlighted message is an answer to a question. The original question will

[2018-04-10 12:26] Peym4n opened #237 "Widget: "Post selected messages" button is not shown when room is closed"
### Steps to Reproduce

- Navigate to a closed room
- Open the widget
- Select multiple results to post

### Expected Behaviour

Message post button should appear at the button

### Actual Behaviour

Message post button is not shown when there is no close button

[2018-04-10 15:42] ruKurz commented on #236
I think this will be an challenging task to implement. A conversation typically contains a lot of garbage. Filter the relevant info on the other hand destroys the conversation flow and infos might be lost by declaring those as irrelevant. Anyway I see several options to solve this challenge, but all of them havve tradeoffs.

1. By linking to the original conversation the user will loose his actual

[2018-04-10 17:09] Peym4n commented on #236
@ruKurz, After #148 @westei already added the feature of providing context to the widget.
`ctx.before` and `ctx.after` can be configured.
What was missing until now was the UI part that shows messages preceding the main message.
Now it's implemented.

[2018-04-10 22:01] mrsimpson commented on #236
@Peym4n the UI showing previous messages looks a bit weird:
![image](https://user-images.githubusercontent.com/17176678/38585770-660e3a32-3d1b-11e8-9492-9b7306e67bce.png)

The sequence is correct but the indention irritates

[2018-04-11 09:28] Peym4n commented on #236
Here is the complete UI.
I changed the line on the left so it expands for the whole conversation. Otherwise the previous messages of a conversation could be mistaken as the following messages of another conversation!
If anyone has any suggestions to improve this UI, let me know.
![conversation_context_ui](https://user-images.githubusercontent.com/846621/38608110-ca5281d8-3d7a-11e8-8f89-3b476980e62

[2018-04-11 10:33] westei commented on #221
We still have the Issue that the `support_area` is not set for pre-existing topics. We need to find a way to set the correct `support_area` for those!

[2018-04-11 10:52] westei commented on #221
For those conversations we do not have any information about the correct `support_area`. So we can not fix this by a simple Mongo update script.  We need to trigger those updates from the widget.

The only thing we can do is to provide a service that allows to find all conversations in Smarti that do not have an `support_area`.

@mrsimpson  any suggestions?

[2018-04-11 11:56] westei commented on #236
Showing the context (as implemented by @Peym4n does not solve this issue. It is just adding a feature to the widget that was already supported by the backend in `0.7.0`.

IMO the discussion of @janrudolph and @ruKurz tangles an important topic that we should revisit in an upcoming release. So I would like to move the implementation to an other Issue (just for documentation purpose) and move this b

[2018-04-11 14:34] mrsimpson commented on #230
I can also imagine calling it "expand" since this can be changed to "collapse" or "expand more" once expanded.

[2018-04-11 14:35] mrsimpson commented on #221
@westei agreed, this cannot be fixed onlyfrom Smarti.
We just implemented a full-sync-mechanism which allows to clean-up inconsistencies like this one: https://github.com/assistify/Rocket.Chat/pull/279
This is going to be merged to `develop` soon

[2018-04-12 05:07] westei commented on #221
Ok so I am moving this over to review again.

[2018-04-12 06:25] westei commented on #213
@mrsimpson can you check/update the state of this issue. Especially why have you moved it to the backlog? I am unsure how to proceed.

[2018-04-12 06:50] westei commented on #212
@Peym4n No I disagree.  Your work on #236 should be rather assigned to this issue. #236 goes several steps further as it is more about how to correctly define the context and how to build a good UI so that a user can explore this context.

Because of that I will tag this issue with the milestone `0.7.1` and move it over to review. #236 will go back to the backlog to allow further work on the point

[2018-04-12 06:51] westei commented on #236
related to #212

The work done to this issue in the context of `0.7.1` is better covered by #212. So I will remove this issue from milestone `0.7.1` and move it back to the backlog for further discussion

[2018-04-12 06:56] westei commented on #212
comment by @Peym4n copied from #236 for documentation reasons:

@wernerharing?

[2018-04-12 08:39] mrsimpson commented on #213
I moved it back to the backlog since we effectively have no option to understand whether Smarti can actually help to facilitate the conversation or not.
I thought of having a property per query provider which allows the UI to react on it.
You commented this extensively in #226.
maybe we should close both of them and formulate a better story, also based on your ideas.
I take a step forward and clos

[2018-04-12 08:39] #213 closed

[2018-04-12 11:26] westei opened #238 "Widget does not render Results"
The `0.7.1-BETA` refuses to render results with the following error:

[code]

[2018-04-12 12:01] Peym4n commented on #238
I cannot reproduce it in chrome, but I think I know what the problem might be.
I'll commit a fix. And it needs to be tested again by someone who can reproduce it.

[2018-04-12 13:43] mrsimpson opened #239 "Posting a result from the Smarti-Widget"
### Expected Behaviour

A meaningful text is posted

### Actual Behaviour

the text ends with ":undefined"

[Nutzung mit Apps](https://<...>/wiki/pages/viewpage.action?pageId=64965252): **undefined**

### Steps to Reproduce

Select a result in our team chat from the widget and post it.

### Reason

There's a description missing:
![image](https://user-images.githubusercontent.com/17176678/38681095-

[2018-04-12 15:37] Peym4n commented on #239
RC2 is being released now.
This one will be fixed in the next release.

[2018-04-16 12:17] westei opened #240 "Conversation Context broken in 0.7.1-RC2"
Clicking the [show details] button results in

[code]
and becuase of that no context is shown

commit `a47c5cda2c04a7b8eef2f29645bd4a5637cf7e6a` introduced this bug

[2018-04-17 12:35] westei opened #241 "Posts of SolrSearch DataSources does not work in 0.7.1RC2"
When clicking on the Post button to send a result of a DataSource it fails with the following Exception

[code]

[2018-04-17 12:38] westei opened #242 "Clicking the include Message checkbox expands the Result"
When clicking on the checkbox to include a Message for posting the details are expanded for this result.

This is not Intended as the details are only expanded when clicking on the "Details anzeigen" button

[2018-04-17 12:42] westei opened #243 "Change "Konversation Posten" to "Nachricht Posten""
The "Konversation Posten" button should be changed to only post the current Message.

The current functionality originates from the Related Conversation search and is no longer valid as results represent a small part of a Conversation and not the conversation as a whole.

Because of that the Button should be renamed to "Nachricht posten" and it should only post this message.

We might bring back t

[2018-04-18 06:37] wernerharing commented on #236
Should be working again.

--
Mag. Werner Haring
New Media Marketing

Karl-Reisenbichlerstraße 7
5026 Salzburg

Mobil. +43 660 427 4649
Email. office@wernerharing.at
Web. www.wernerharing.at

fb. http://www.facebook.com/haringwerner
twitter. http://www.twitter.com/wernerharing
--
Diese elektronische Nachricht ist vertraulich. Die Information ist nur fuer den Adressaten bestimmt. Falls Sie nicht der

[2018-04-18 13:32] ruKurz opened #244 "Error when importing a conversation export"
Server-Error: Could not parse multipart servlet request;
nested exception is java.io.IOException: The temporary upload location [/tmp/tomcat.6814162601174978388.8080/work/Tomcat/localhost/ROOT] is not valid

[2018-04-18 15:54] westei commented on #244
[The temporary upload location is not valid](https://stackoverflow.com/questions/38845010/the-temporary-upload-location-is-not-valid) looks to be relevant.

especially

[2018-04-19 09:58] #227 closed

[2018-04-19 14:02] mrsimpson opened #245 "Posting multiple messages not possible"
### Expected Behaviour

When selecting multiple messages from multiple conversations, they should be concatenated into the input.

### Actual Behaviour

Only the last message is copied, although the button reads "2 selektierte Nachrichten posten"

![image](https://user-images.githubusercontent.com/17176678/38996193-fa77404e-43ea-11e8-93e6-46fbe32ca20a.png)

### Steps to Reproduce

- Create a reque

[2018-04-20 07:39] #52 closed

[2018-04-20 07:39] #203 closed

[2018-04-20 07:39] #208 closed

[2018-04-20 07:39] #212 closed

[2018-04-20 07:39] #217 closed

[2018-04-20 07:39] #220 closed

[2018-04-20 07:39] #221 closed

[2018-04-20 07:39] #228 closed

[2018-04-20 07:39] #232 closed

[2018-04-20 07:39] #237 closed

[2018-04-20 07:39] #238 closed

[2018-04-20 07:39] #239 closed

[2018-04-20 07:39] #240 closed

[2018-04-20 07:39] #241 closed

[2018-04-20 07:39] #242 closed

[2018-04-20 07:39] #243 closed

[2018-05-08 06:12] janrudolph opened #246 "Chatpal is not configurable via API"
### Expected Behaviour

Rocket.Chat can be configured via API (https://rocket.chat/docs/developer-guides/rest-api/settings/). This should apply to chatpal as well.

### Actual Behaviour

You can not configure chatpal via the API.

### Steps to Reproduce

Example call
[code]
Output:
`{"success":true}`

This is not a valid output, please see https://rocket.chat/docs/developer-guides/rest-api/setting

[2018-05-10 17:26] ruKurz commented on #225
There are still some issues when automatically loading further results.

- [ ] The displayed number of results does not fit the effective found results
- [ ] Sometimes there is displayed 0 (zero) results even there are results shown
- [ ] When scrolling to the very bottom of a large result list, there are displayed less results than number of results is displayed on top
- [ ] The number of results

[2018-05-11 07:46] ruKurz commented on #225
Sometimes there is displayed 0 (zero) results even there are results shown

<img width="399" alt="bildschirmfoto_2018-05-11_um_09_43_11" src="https://user-images.githubusercontent.com/853776/39912792-26f851e6-5500-11e8-9f73-60d89c41089b.png">

[2018-05-11 07:51] ruKurz commented on #225
The displayed number of results does not fit the effective found results

Here 71 results have been found:
![Uploading Bildschirmfoto_2018-05-11_um_09_47_25.png…]()

After scrolling to the very bottom, there are displayed some 10 results (compare with 71):
![Uploading Bildschirmfoto_2018-05-11_um_09_47_37.png…]()

[2018-05-11 07:54] ruKurz commented on #225
Sometimes the last search result is covered by the "Finish Conversation" button
<img width="395" alt="bildschirmfoto 2018-05-11 um 09 54 16" src="https://user-images.githubusercontent.com/853776/39913200-4fe07f88-5501-11e8-9287-bbee3ba2d3e0.png">

[2018-05-11 11:15] Peym4n commented on #225
This has not happened to me. Is it reproducable?

The displayed number is the number of all available results which can be loaded by lazy loading, not the number of loaded results.

Are you sure you are using the respective Rocket.Chat branch with the changes? ([smarti-widget-0.7.1](https://github.com/redlink-gmbh/Rocket.Chat/commits/smarti-widget-0.7.1))
I already fixed this bug [here](https://gi

[2018-05-11 13:02] ruKurz commented on #225
All this can be reproduced on out test env where you have access to.

Yes, I understand. But when 71 results are possible why does the lazy loading stop at round about 10?

Are you sure you are using the respective Rocket.Chat branch with the changes?

[2018-05-14 07:59] westei commented on #222
Yes. Cloud sync is not needed when we use an external Solr (as any Smarti instance will directly index the updates to the shared Solr).

If a sync of the index with the state in the MongoDB is necessary this SHOULD only occur from a single Smarti instance to avoid performing indexing twice.

[2018-05-14 08:06] westei opened #247 "Smarti Chatpal Backend causes 100% CPU load on Mongo"
The Smarti Backend for Chatpal causes 100% CPU load on the Mongo Cluster.

An analysis of the `db.currentOp()` result shows that cloud sync requests (used for keeping the chatpal Solr indexes in sync with the MongoDB) are taking way to long (100+ sec) and are also blocking update requests for new messages to be indexed.

[2018-05-14 08:51] Peym4n commented on #225
I checked the code on the test env and I couldn't find my rocket.chat changes.
So I think the changes are not merged yet. I will inform @mrsimpson.

[2018-05-14 09:01] ruKurz commented on #225
We have deployed the Smarti artifact from https://github.com/redlink-gmbh/smarti/releases/tag/smarti-0.7.1

So this is independent from RC version

[2018-05-14 09:10] Peym4n commented on #225
Parts of Smarti-Widget's UI depend on RC. For example the footer that contains the button. That's why you still don't have the fix.

[2018-05-14 09:34] westei opened #248 "Update Smarti to Solr 7.x"
as a preperation to externalize Solr

[2018-05-14 10:01] Peym4n commented on #225
And regarding the 0 results:
I checked the test env. This happens when the widget is not able to load the next page of the conversations. Sometimes after sending a request to the widget backend, the widget receives no response, which means that there has been a problem between rocket.chat and smarti.
Anytime that happens (some results are loaded but 0 is displayed) one should check the RC logs for

[2018-05-15 10:27] westei opened #249 "CloudSync does not work for deleted Conversations"
Currently Conversations are deleted from the Repository. Because of this CloudSync does not work as this is based on the modified date of conversation.

Because of that Conversation are only deleted from the embedded SolrIndex on that host that performs the delete operation and stay in indexes of others.

This causes the SolrIndex to be out-of-sync with the state in the Repository.

To avoid this

[2018-05-15 13:37] westei opened #250 "Aggregation size limit exceeded while CloudSync"
The actual exception:

[code]

[2018-05-15 13:41] westei commented on #250
To avoid this one needs to execute the sync in batches so that each batch in under the 16MByte limit

[2018-05-15 14:37] Peym4n commented on #225
I'm working on an improved error handling in the widget.

[2018-05-16 07:40] #250 closed

[2018-05-16 09:05] mrsimpson commented on #231
Has been implemented in https://github.com/assistify/Rocket.Chat/pull/301

[2018-05-16 09:05] #231 closed

[2018-06-04 13:39] ruKurz commented on #225
The problems regarding the lazy loading behavior and the displayed result count are still persistent.
On our test env we have currently installed:
- `smarti-0.7.3` (Commit: https://github.com/redlink-gmbh/smarti/commit/5d465057d96b81ce85775440884f6184b53e3596)
- `rocket-chat-`0.63.3` (https://github.com/assistify/Rocket.Chat/commit/6dec6862d7a06b1abe38c736a3f6e31ff630ddc0)

@Peym4n Can you please

[2018-06-08 13:37] ruKurz opened #251 "The payload sent to the RC webhook does not match the specification"
### Expected Behaviour

The implementation of the RC webhook which receives the analysis results from Smarti expects the parameters `conversationId` and `channelId`.

### Actual Behaviour

When using `GET /conversation/{conversationId}/analysis` asynchronously, Smarti passes the plain analysis results to the given webhook. The response does not include  the `channelId`. Without caching `channelId

[2018-06-08 17:53] ruKurz opened #252 "The ConversationWidget is not refreshed correctly"
### Expected Behaviour

If new messages are added to a conversation with Rocket.chat that lead to new analysis results on the server side, the ConversationWidget should refresh the related conversations on the client side.

### Actual Behaviour

When the conversation analysis has changed, the ConversationWidget is not being updated.

### Cause assumption
The cause of the problem could be here:
htt

[2018-06-09 04:40] westei commented on #251
The mapping `conversationId` and `channelId` is in the responsibility of the client. Only in older Version this mapping was managed by Smarti as part of the `RocketchatEndpoint`

AFAIK the Smarti Rocket.Chat widget stores the mappings in a collection of the MongoDB used by Rocket.Chat. I am sure @Peym4n can provide more information.

In case we want to provide the `channelId` with analysis respons

[2018-06-09 07:56] ruKurz commented on #251
For now I fetch the roomId by the `livechat-external-messages` which caches the mapping between `roomId <-> conversationId`. This resolves the dependencies to Smarti for now and we can make use of asynchronous communication between Smarti an Assistify.Chat.

What worries me a little is that with the introduction of `0.7.0` the analysis call was simply changed from asynchronous to synchronous.

[2018-06-09 22:45] ruKurz commented on #252
This is a critical bug, because during a running chat the conversations suggested by Smarti are never updated in the widget. To get new results, you have to close and reopen the Smarti widget completely. We should resolve this problem as soon as possible.

[2018-06-11 08:42] Peym4n commented on #251
@ruKurz As you noticed, currently the widget backend is using `livechat-external-messages` to map roomId and conversationId. Should I add `channelId` to the metadata?

When I was implementing the new API I was told to not use any webhooks.

[2018-06-12 09:36] Peym4n commented on #225
Yes, the changes are correctly deployed.

[2018-06-12 09:49] Peym4n opened #255 "Smarti Widget fails to render messages containing code"
### Expected Behaviour
The template renderer should be able to handle any kind of messages.

### Actual Behaviour
Some messages fail to be rendered in the template and any subsequent message will not be displayed.

[2018-06-12 10:01] Peym4n opened #256 "Conversation search endpoint returns inconsistent number of results"
### Expected Behaviour
The returned number of results (`numFound`) should stay the same between each request, when no new messages were added.

### Actual Behaviour
The returned number of results (`numFound`) changes unexpectedly (decrease and increase by 1) after each request, even when no new messages were added.

### Environment
* **Smarti-Version**: `v0.7.3`:

[2018-06-12 10:16] Peym4n commented on #251
We decided that the analysis result shouldn't contain the `roomId`.

[2018-06-12 10:16] #251 closed

[2018-06-12 13:02] ThomasRoehl opened #257 "DELETE /conversation/{conversationId} does not delete the conversation"
### Expected Behaviour

I use the API to delete an existing conversation from Smarti.
The conversation still exists in the database and the `GET /legacy/rocket.chat` still returns the deleted conversation with a 200 Code.
On the other hand `GET /conversation/{conversationId}` can't find the conversation anymore and returns a 400 Code.

### Actual Behaviour

`DELETE /conversation/{conversationId}`

[2018-06-12 13:03] ruKurz commented on #257
See also: https://github.com/redlink-gmbh/smarti/issues/95

[2018-06-12 14:13] ruKurz commented on #225
I would like to let this issue opened until we have tested the upcoming release.

[2018-06-12 14:14] ruKurz commented on #225
Moved the issue in: Needs Review
on: https://waffle.io/redlink-gmbh/smarti

[2018-06-12 14:20] Peym4n commented on #225
@ruKurz ok. makes sense.

[2018-06-12 14:24] ruKurz opened #258 "Loading Smarti fails for empty conversations"
Loading the Smarti Widget fails when the conversation is empty:

### Expected behavior

If a new "topic", "help-request", "thread" is started in Assistify.Chat that does not have any messages in it yet. The smarti widget should inform the user that the "Knowledge Base" is working, but that there are no messages within the room, that can be analyzed.

### Actual behavior

The Smarti Widget show an

[2018-06-12 14:33] ruKurz opened #259 "Rocket.Chat legacy endpoint does not filter for conversations marked as deleted"
### Expected Behaviour

The Webservice `GET /legacy/rocket.chat` should not return conversations marked as deleted.
(BTW: Smarti should always have exact one conversation for one channelId)

### Actual Behaviour

The legacy endpoint returns also deleted conversations. If one deletes a conversation and then create a new one for the same channelId. The legacy endpoint returns always the first conver

[2018-06-12 14:34] ruKurz commented on #259
See also https://github.com/redlink-gmbh/smarti/issues/257

[2018-06-12 15:18] Peym4n commented on #258
@ruKurz Could you please provide some steps to reproduce it?

[2018-06-12 15:27] ruKurz commented on #258
@Peym4n In updated the description of this issue. Does that fir fore you?

[2018-06-12 15:50] Peym4n commented on #258
I'm not able to reproduce the Smarti error by creating a new empty request.
But I was able to reproduce it by creating a request and then deleting the initial message in it.
After RC sends the delete request to Smarti, that error happens. Without the widget sending any requests.
So, I see two issues here. One is the widget not showing an appropriate message when the conversation is empty. And the

[2018-06-12 15:52] ruKurz commented on #258
@Peym4n what does happen if you're creating a new topic?

[2018-06-12 15:54] Peym4n commented on #258
After creating a topic (request) with no initial message, I just get the widget notification that is shown above, but no errors in Smarti.

[2018-06-12 16:00] ruKurz commented on #258
I'll recheck with an empty MongoDB, just to assure that it's no "works not on my machine" problem. And come back soon.

Just a remark: A `topic != request`. Did you really create an topic?

[2018-06-12 16:22] Peym4n commented on #258
Yes, I tried creating a new topic as well. And the result was the same. I get the widget notification but no Smarti error.

btw, in the `steps to reproduce` it says,

But a topic cannot have an initial message, just a request can. That's why I thought you are talking about creating a new request with no initial message.

[2018-06-12 16:29] Peym4n commented on #258
I'm using our [`smarti-widget-0.7.4`](https://github.com/redlink-gmbh/Rocket.Chat/tree/smarti-widget-0.7.4) branch for RC. And the [`develop`](https://github.com/redlink-gmbh/smarti/tree/develop) branch of Smarti.

[2018-06-13 03:58] westei commented on #258
I will fix the reported Exception by not performing an actual query if the context is an empty text but rather assume an empty result - resulting in an empty `q.alt`. An empty `q.alt`will cause an empty response for `Expertengespräche` what is anyways the desired result

[2018-06-13 04:29] westei commented on #257
The DELETE operation does mark the conversation as deleted AND deletes all messages. The conversation and its metadata are preserved as those information are required for cloud-sync of the embedded Solr Servers managed by the different Smarti instances.

For clean up one could run a Mongo task that physically deletes all conversations that where marked as deleted for longer as a given time period

[2018-06-13 04:31] westei commented on #257
#259 (#260) aim to fix that `GET /legacy/rocket.chat` returns conversations that are marked as deleted.

[2018-06-13 06:54] ruKurz commented on #257
Hi @westei,

thanks for investigating on this issue and fixing the PR.

I like the idea using a configureable time period to run a clean up process for obsolete conversations.

I noticed that deleting conversations (and analysis) on MongoDB results in Solr responses that have a `numfound` e.g. 26, but the `docs` in the response is less or 0. So it would be nice to trigger the Solr synchronization

[2018-06-13 07:08] westei commented on #257
This could be the case If the conversations in the Response are actually loaded from the MongoDB (based on the ID in the SolrIndex) and NOT reconstructured from the data in the SolrIndex. I will check if this is the case, because it could also explain why sometimes the numFound does not correspond with the number of actual results

This is part of #222

[2018-06-13 07:15] ruKurz commented on #258
@Peym4n if @westei fixes the server issue, would you improve the info message displayed when no Smarti results have been found (from error to info)? That would be great!

[2018-06-13 09:21] westei commented on #257
The ConversationSearchService loads Conversations and Messages from the MongoDB. In case a Conversation present in the SolrIndex is missing in the MongoDB the following Log message is written on IINFO level

```ConversationIndex out of Sync with ConversationRepository: Conversation[id:{id}] is present in the index but not in the Repository!```

Solr Results for those conversations are removed. So

[2018-06-13 09:28] Peym4n commented on #258
I started RC and Smarti using the commits that you provided.
And now I see the error. It happens after a POST request from RC to Smarti's conversation endpoint with no messages. So it has nothing to do with the Widget.

[2018-06-13 09:51] Peym4n commented on #258
@ruKurz ok. I will change the widget notification to info, when no conversation is found.

[2018-06-13 10:53] westei commented on #258
@Peym4n I installed the Smarti develop and Rocket.Chat https://github.com/assistify/Rocket.Chat/tree/fix/smarti-results-not-loaded on the test server and was able to verify that no Smarti Conversation is created when a new Channel is created in Rocket.Chat. Only when the first Message is sent to the Channel the Conversation + Message are created with Smarti.

This is the reason for the Error messa

[2018-06-13 12:12] Peym4n commented on #258
@ruKurz We found out that when `afterCreateChannel` and `_createAndPostConversation` are called, the new conversation ID is not stored in the mapping, that's why the widget cannot find the new conversation. Is that expected?
And can this issue be in review now? or are any more changes from our side needed?

[2018-06-13 13:27] ruKurz commented on #258
**afterCreateChannel**

@ThomasRoehl has also figured out this behavior. It is already fixed: https://github.com/assistify/Rocket.Chat/pull/346/commits/dcfa1e01105601823a3da7acd66ea087d5b283a7

**handle empty `q.alt`**

@westei has fixed the server error: https://github.com/redlink-gmbh/smarti/commit/c2178a1a169920b02256ddd4544c852d0aa85c9e

**info message**

@Peym4n has fixed the info message: ht

[2018-06-13 15:39] ruKurz commented on #226
Thanks for that detailed analysis.

[2018-06-13 16:08] ruKurz commented on #225
There are still some issues when automatically loading further results.

- [x] When scrolling to the very bottom of a large result list, there are displayed less results than number of results is displayed on top (client e.g. rendering)
- [x] Sometimes there is displayed 0 (zero) results even there are results shown
- [x] Sometimes the last search result is covered by the "Finish Conversation" but

[2018-06-13 16:31] ruKurz commented on #257
1. Delete all conversations from the MongoDB
2. Start a re-sync from Rocket.Chat (new conversations for the same channelId will be created)
3. Open Smarti Widget (4 numfound, 0 docs)

Log:
2018-06-13 18:29:14.085  INFO 16074 --- [io-8080-exec-10] i.r.s.q.c.ConversationSearchService      : ConversationIndex out of Sync with ConversationRepository: Conversation[id:5b2063407d48d5137ab0ab19] is presen

[2018-06-13 18:15] #259 closed

[2018-06-13 18:18] #255 closed

[2018-06-13 18:18] ruKurz commented on #255
tested on IAT

[2018-06-13 18:19] ruKurz commented on #252
Smarti side tested on IAT.
Assistify.Chat not yet deployed.

[2018-06-13 18:44] ruKurz commented on #258
@Peym4n I tested the info message. It's now in another color. But the info text is semantically not correct. It says: "Dieser Raum ist im Wissensbasis nicht verfügbar."

A semantically correct message would be: "Es werden keine Vorschläge angezeigt, da diese Unterhaltung keine Nachrichten enthält."

BTW: The sentence "Dieser Raum ist im Wissensbasis nicht verfügbar." is grammatically incorrect.

[2018-06-13 18:48] westei commented on #257
in what order? Have you deleted the conversations in Mongo before starting Smarti, or was Smarti running before you deleted the conversation Collection?

[2018-06-13 18:49] ruKurz commented on #249
@westei I've no clue  how to test this issue. Could you please provide some steps how to test this fix?

[2018-06-13 18:50] ruKurz commented on #259
Tested on IAT, by using the Smarti API.

[2018-06-14 05:08] westei commented on #249
I used an ssh tunnel to a mongoDB running on a different host (`ssh user@host -L 27017:127.0.0.1:27017`)

Doing so  simulates a cloud like setting wehre multiple Smarti instances do use the same MongoDB.  The Smarti instance on `host` needs to use the cloud-sync feature to detect deletions you perform on the smarti instance on your `localhost`

[2018-06-14 05:28] ruKurz commented on #257
Smari runs all the time.

[2018-06-14 07:58] westei commented on #258
Hi Rüdiger

With the following environment:

* Smarti `v0.7.4`
* Rocket.Chat `https://github.com/assistify/Rocket.Chat.git/fix/smarti-results-not-loaded`

and the following process:

1. Kanal Anlegen
2. Bestehendes Thema auswählen (alles andere leer lassen)
3. Anlegen Button drücken

results for me in the state as shown in the following screenshot

![Screen Shot 2018-06-14 at 09.46.46.PNG](https:/

[2018-06-14 09:07] ruKurz commented on #258
On our IAT we did not yet install https://github.com/assistify/Rocket.Chat.git/fix/smarti-results-not-loaded. So we will retest hopefully this day.

[2018-06-14 09:11] ruKurz commented on #258
Regarding the "info". We must handle several cases:

1. There is no conversation for room (the current message)
2. There is no message in the room and therefore no results can be found (no similar messages found)
3. Smarti is effectively not reachable or does not work for any other reasons (knowledge base is unavailable)

I would like to see this improvement within the current release.
So what do

[2018-06-14 10:54] Peym4n commented on #258
@ruKurz I'm working on it. But could you please create a new issue for that?

[2018-06-14 11:44] westei opened #261 "Smarti Widget Info Messages"
Cases:

1. There is no conversation for room (the current message)
2. There is no message in the room and therefore no results can be found (no similar messages found)
3. Smarti is effectively not reachable or does not work for any other reasons (knowledge base is unavailable)

[2018-06-14 11:45] westei commented on #258
@Peym4n @ruKurz created #261 for. Move this back to done (as it is part of `v0.7.4`

[2018-06-14 11:45] #258 closed

[2018-06-14 11:56] ruKurz opened #262 "Show meaningful informations/warnings/error within the Smarti widget"
**Infos**

1. There is no message in the room (please-start-chatting -> Info)

2. There is an empty analysis result returned (no-similar-messages-found -> Info)

**German display info messages**

1) Damit die Wissensbasis etwas vorschlagen kann, muss mindestens eine Nachricht geschrieben werden. Bitte starte die Unterhaltung.

2) Es konnten keine passenden Inhalte gefunden werden. Für eine Analyse

[2018-06-14 11:57] ruKurz commented on #258
https://github.com/redlink-gmbh/smarti/issues/262

[2018-06-14 11:58] ruKurz commented on #261
https://github.com/redlink-gmbh/smarti/issues/262

[2018-06-14 11:58] #261 closed

[2018-06-14 14:31] Peym4n commented on #262
@ruKurz The widget needs this PR https://github.com/assistify/Rocket.Chat/pull/352 to detect server-side errors (Smarti unreachable) and then show the error message you suggested. (in addition to detailed error log in the console) Please keep that in mind when testing this issue.

[2018-06-14 16:05] mrsimpson commented on #249
this test by @westei is a developers test and I believe it’s been performed with highest expertise available => let’s merge this and verify on our test environment

[2018-06-14 18:57] ruKurz opened #263 "HTML-Tags for highlighting should not be escaped in Smarti results"
### Expected Behaviour

Search terms in Smarti results should be highlighted

### Actual Behaviour

The highlighting tags `<mark>term</mark>` are escaped.
<img width="401" alt="bildschirmfoto 2018-06-14 um 20 52 47" src="https://user-images.githubusercontent.com/853776/41432358-1732c0f8-7016-11e8-9e60-72601afc09a5.png">

### Steps to Reproduce

1. Create a request with "Katze"
2. Create a second r

[2018-06-14 19:04] ruKurz commented on #262
The messages suggested in the description should be applied.

For Server Errors: Oops, für diesen Raum konnten keine Ihalte in der Wissensbasis gefunden werden. Bitte stelle eine Anfrage zum Thema Assistify und teile es uns mit.

![Bildschirmfoto 2018-06-14 um 21.00.21.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594e29c43945af002026f49a/125516c66e82c728ace21e0d46ca9d96

[2018-06-14 19:25] ruKurz opened #264 "Inform rooms of the same topic to re-analyse/re-fresh if new results are available"
Being in a channel and having the knowledge base opened. The Knowledge base is not being refreshed if new results/conversations would be available through creating new requests for the same topic in parallel.

By solving this issue the widget should be reloaded when new conversations have been created in time.

While writing these thoughts, I'm quite unsure if we really want this as a feature. I c

[2018-06-14 19:29] ruKurz commented on #262
I think the behavior is for the time being good. I suggest to don't close it for now and  handle it as an improvement for an upcoming release.

I removed the milestone and added "enhancement" label.

[2018-06-14 21:48] ruKurz commented on #262
I have to correct ... the messages are displayed well.

[2018-06-15 05:06] westei commented on #264
IMplementation wise this would be possible as we do have a websocket connection open. But I agree that this feature might be confusing (or even concerning) for users.

[2018-06-15 07:06] ruKurz commented on #262
The "info case 2)" _There is an empty analysis result returned (no-similar-messages-found -> Info) does display the message from_ "info case 1)".

If there is at least one message written, but still no results found there should be displayed  another the message: "Es konnten keine passenden Inhalte gefunden werden. Für eine Analyse benötigt die Wissensbasis noch mehr Nachrichteninhalte."

Therefor

[2018-06-15 07:08] ruKurz commented on #252
We have some network related problems "smarti -> chat" therefore I can't test this issue on our IAT.

[2018-06-15 07:09] ruKurz commented on #252
I assigned myself to this issue, since I will care to change the infrastructure.

[2018-06-15 09:49] Peym4n commented on #262
@ruKurz The widget checks if at least one token was used for the last request. (At the moment a used token can either be a pinned token or a user token.) If no token was used then the first info message is shown, otherwise the second one.
Currently the widget doesn't have the information how many messages exist in the conversation.
@westei is implementing it in Smarti.

[2018-06-15 10:11] westei commented on #262
Analysis no include contextual information. For the moment this are the start/end index of the analysed messages. This is relevant for this issue as `start=0, end=0` indicates that no messages where present in the conversation at the time the analysis was triggered.

Example of context information in the Analysis model for a Conversation with a single message
[code]

[2018-06-16 18:20] ruKurz opened #265 "Smarti widget does not update analysis results correctly"
### Expected Behaviour

When a room is entered, a message is being written or deleted, the widget should be updated.
Therefore a asynchronous callback should be used.

### Actual Behaviour

there is a mixture of synchronous and asynchronous calls. The results are handled concurrently. And therefore the widget has some unwanted behavior.

[2018-06-18 06:27] westei commented on #246
@tkurz I think this Issue should be moved to chatpal

[2018-06-18 08:56] mrsimpson opened #267 "[New]: Upvote/Downvote messages"
### Expected Behaviour

As a user who received a result from the knowledge base's historic conversations, I want to be able to rate the quality of a result.

For a first step, I want to be able to up- and downvote results.

- No limitation for an upper or a lower (even negative) rating shall exist
- The same user shall be able to do this multiple times (though only once an hour)
-  The ranking sho

[2018-06-18 08:58] mrsimpson opened #268 "[New] Mark conversations obsolete"
### Expected Behaviour

As a user ho receives results, I want to be able to mark conversations which convey obsolete knowledge as outdated.
Outdated conversations should be default be hidden from the result list, but optionally made visible with a filter. When visible, they should clearly be visible as outdated.

_Remark: This applies to the conversation without any question context!_

[2018-06-18 09:32] mrsimpson commented on #268
Actually, the current UI only presents an excerpt of conversations, thus only this scope should be marked obsolete.
If a result includes an obsolete message, it should be hidden by default

[2018-06-18 11:20] westei opened #269 "Conversation Indexer not syncing"
The Conversation Indexer can reach a state where it is no longer syncing in cases where the initial sync was abnormally terminated (e.g. because of an Exception)

This can be tracked down by the log showing

[code]

[2018-06-18 11:29] westei opened #270 "Messages flagged as `skipAnalysis` should not be considered for related conversation queries"
Messages flagged as `skipAnalysis` are currently considered for related conversation searches.

This results in a unexpected behaviour as boilerplate text of messages is used to search for related messages

[2018-06-25 07:02] ruKurz opened #272 "Clean-up sync artifacts in Smarti-MongoDB"
The DELETE operation does mark the conversation as deleted AND deletes all messages. The conversation and its metadata are preserved as those information are required for cloud-sync of the embedded Solr Servers managed by the different Smarti instances.

For clean up one could run a Mongo task that physically deletes all conversations that where marked as deleted for longer as a given time period

[2018-06-25 09:18] #263 closed

[2018-06-25 09:22] #269 closed

[2018-06-25 09:34] westei commented on #262
@Peym4n The widget fails if the `conversation/{id}/analysis` request returns an empty result for a `202 Accepted` response (indicating an async execution).

[2018-06-25 09:42] westei commented on #265
We will have both sync and async calls for different use cases

* direct interaction with the widget -> sync
* chat updates (e.g. deletion of a message) -> async update of the widget.

So the Widget needs to be able to cope with both kind of requests and correctly distinguish between those (e.g. based on the response codes `202 created` for async with `200 ok` for sync calls

[2018-06-25 09:52] westei commented on #257
We can configure Mongo to delete conversations that are maked as deleted automatically after a predefined period see https://docs.mongodb.com/manual/core/index-ttl/

[2018-06-25 09:57] westei commented on #256
As this might be releated to the embedded Solr server we will delay this until we switched to en external Solr Server (see SolrCloud support)

[2018-06-25 09:58] westei commented on #272
When we can use Mongo TTL indexes we will implement this within #257

[2018-06-25 10:52] #252 closed

[2018-06-25 10:56] ruKurz commented on #265
For nw have reverted to use sync-callbacks when initializing the Smarti widget.
Anyways the Smarti widget should support both: sync and async init.
Also the error handling at:
https://github.com/redlink-gmbh/smarti/blob/develop/integration/rocket-chat/main.js#L267
```pubsub('smarti.data').publish(message.result);```
Should handle the case that `message.result` is null/empty.

[2018-07-11 12:16] Peym4n commented on #265
@ruKurz The problem is that the result is not `null` or `empty` but the string `"null"`.
I can check for that string, but it is not a conventional response.
Is it possible to fix that?

[2018-07-20 16:04] mrsimpson opened #273 "A personal body of knowledge - Integrate Chatpal and Smarti"
# Motivation

Until now, Smarti was focusing on creating a common, anonymized body of knowledge for a team based on its conversations.
Real user interaction has shown that people don't care much about creating coherent conversations but write in a continuous stream.
It is crucial that even in these cases, Smarti can deliver value in order to accelerate the conversation.

# Suggestion

With Chatpal

[2018-07-20 16:08] mrsimpson commented on #273
Technical remarks as discussed with @westei

The Chatpal-provider is similar to a conversational provider: The query to be executed shall be generated by Smarti, with all bells and whistles about partial matching, weighting and so on. This potentially complex query has to be issued to the Chatpal index.
However, the Chatpal index must not be consumed directly: The Rocket.Chat Search Backend adds r

[2018-08-28 08:13] tkurz opened #274 "Specify Query Provider for Rocket Chat Search"
Smarti allows to implement various query providers. In this issue a input provider including json structure (for smarti widgets) has to be specified.

*Acceptance Criteria*
The specification must be documented in Smarti Docs.

[2018-08-28 08:18] tkurz opened #275 "Implement UI for Rocket.Chat Query Provider"
The implementation is based in the Query Provider specified in #274.
It:
* uses the existing RC search method
* is based on the Solr UI and works similarly

*Acceptance Criteria*
UI shows search results for Smart Search Terms and allows User interaction.

[2018-08-28 08:20] tkurz opened #276 "Implement Rocket.Chat query provider"
The query provider must be implemented regarding the Spec in #274

*Acceptance Criteria*
The query provider returns result fitting the spec.

[2018-08-28 08:34] tkurz opened #277 "Enable Rocket.Chat Search to search in *all* public channels"
This is just a placeholder.
As this is an RC Issue it is reflected in https://github.com/RocketChat/Rocket.Chat/issues/11883.

[2018-08-31 10:08] Peym4n commented on #275
Current version of the widget shows RC search provider results (chatpal) using query terms provided by smarti. Any required user interactions need to be specified and will be implemented next.

[2018-09-04 08:08] westei opened #278 "Exclude Context Messages for Rocket.Chat Search"
### Expected Behaviour

The #276 Rocket.Chat Query Provider uses some messages as the context for extracting the most relevant terms to be used for getting relevant messages.

The Rocket.Chat search now tends to return those exact messages (as they obviously best match the context).

Because of that we need to provide a way to explicitly exclude Messages used for the context from Search results.

[2018-09-04 09:04] jschirrmacher opened #279 ""Oops" message when starting a new channel"
### Expected Behaviour

When I start a new channel without any messages yet and open the knowledge base, I don't want to see an error message. Instead, there should be an information, that the user should enter some text.

### Actual Behaviour

Currently, I see a message with the text "Oops, für diesen Raum konnte keine Konversation gefunden in der Wissensbasis gefunden werden. Bitte stelle eine A

[2018-09-10 12:05] westei opened #280 "Conversation Search Filters update"
Because of changes in Assitify filters for the Conversation Search Widget should be changed to default: disabled. Also the name (display label) of the Filter needs to be changed to 'ähnliche Kanäle' as the name of the support area is no longer human readable but an UID.

[2018-09-10 14:58] Peym4n commented on #280
@ruKurz suggested to make the label configurable. All the i18n strings are always configurable but the user should know the specific key that is used to define the strings. I will add the key to the possible entries in the assistify ai i18n settings.

[2018-09-12 07:05] westei commented on #278
Marked this as `v0.8.1` as this will require changes in Chatpal and any changes in Chatpal depend on acceptance of a Pull requests by Rocket.Chat and a Rocket.Chat release.

[2018-09-12 07:05] westei commented on #277
Marked this as `v0.8.1` as this will require changes in Chatpal and any changes in Chatpal depend on acceptance of a Pull requests by Rocket.Chat and a Rocket.Chat release.

[2018-09-17 05:10] westei opened #281 "Limit Messages per Conversation"
The current storage model of conversations require to limit the number of messages per conversation to ensure respecting the document size limit of MongoDB of 16 megabytes.

Assuming ~200 chars average per message and ~200 chars required for additional information a limit of 5000 messages seams to be a reasonable limit.

[2018-09-17 05:41] westei commented on #281
Just as explanation:

The Smarti conversation was meant to represent a section within a communication channel. This lead to the decision to store the messages with the conversation.

However when integrations do establish a 1:1 mapping between communication channels and Smarti conversations their is a risk that the amount of messages in those channels do overrun the storage limit of MongoDB.
To av

[2018-09-20 08:40] westei commented on #281
The number of messages per conversation is configureable via `smarti.storage.mongodb.maxConvMsg`. The default is set to `5000`

[2018-09-20 10:19] westei opened #282 "Add RocketChatSearch Query Provider to existing Configurations"
Existing Smarti Configurations that include the ConversationSearch QueryProvider should migrate to also have the new RocketChatSearch installed.

This shall be done by a Database migration script for the `v0.8.0` release

[2018-09-20 10:22] ja-fra opened #283 "Update Changelog with the new Features in Smarti 0.8.0"

[2018-09-21 12:54] Peym4n opened #285 "SmartiWidget: Tokens are not shown initially"
### Expected Behaviour
The widget should display the extracted tokens initially.
### Actual Behaviour
The widget doesn't display the extracted tokens when it's first opened.

[2018-09-24 06:45] westei commented on #272
Added this to the Solr Update project, as Cloudsync will go away when using an external Solr Server and therefore this is also related to this update.

[2018-09-24 06:51] westei commented on #44
@mrsimpson added this to the Solr Update project. Based on progress we need to evaluate if this issue is still valid or the use of an external Solr solves this as mentioned above

[2018-09-24 07:04] westei opened #286 "Use Solr TaggerRequestHandler instead of SolrTextTagger"
Since Solr `7.4.0` the SolrTextTagger is part of Solr. With the update to Solr7 we need to migrate the Code to use the Version directly included in Solr

[2018-09-24 07:29] #262 closed

[2018-09-24 07:29] #265 closed

[2018-09-24 07:38] westei commented on #246
In the current Chatpal version configurations do use the Rocket.Chat configuration. So they are exposed via Rocket.Chat REST api

[2018-09-24 07:38] #246 closed

[2018-09-24 11:19] westei commented on #139
I agree. Will mark this as closed

[2018-09-24 11:19] #139 closed

[2018-09-24 12:09] westei commented on #278
see [chatpal-search-solr-ext #5](https://github.com/chatpal/chatpal-search-solr-ext/issues/5) for details about the chatpal part of this issue

[2018-09-25 05:44] westei commented on #273
FYI this is the main story for the `v0.8.*` releases of Smarti. Currentl it is planed out in two releases:

1. `0.8.0` release with all features that are possible without changes in the current Rocket.Chat Search implementation and the Chatpal
2. `0.8.1` release that depends on the acceptence of Recket.Chat Search pull requests and releases of those in a Rocket.Chat release as well as additional f

[2018-09-25 06:32] mrsimpson commented on #273
@westei can you let us know the chatpal RC PRs? We can merge them into our fork at least

[2018-09-25 17:45] Peym4n commented on #279
This was fixed in #262. Closing.

[2018-09-25 17:45] #279 closed

[2018-09-26 08:47] Peym4n opened #287 "Widget shows wrong error messages"
There is a bug in the widget which causes all rocket.chat related error messages to be shown when only one of them is relevant.

[2018-09-26 13:59] westei opened #288 "Use context term boosts for Rocket.Chat Search with Chatpal provider"
With chatpal/chatpal-search-solr-ext#7 it is now possible to parse raw solr queries to chatpal. This allows to use the boosts provided by the Rocket.Chat query providers for context query.

The Rocket.Chat search query needs to use the same `text` parameter as present so that context queries do work with Rocket.Chat is configured with an other query provider as Chatpal.

But within the params the

[2018-09-27 08:11] westei commented on #257
will move this to `v0.9.0` as Cloudsync might get away with the Solr Update and if this is the case this will be resolved as we could delete conversations instead of marking them as deleted

[2018-09-27 08:16] westei commented on #236
This concept was realised in the `v0.7.*` releases for the conversation search

[2018-09-27 08:16] #236 closed

[2018-09-27 08:24] westei opened #289 "remove Chatpal Backend"
This is incompatible with current Chatpal versions. An update is not pland as it is no longer needed

[2018-09-27 08:27] westei opened #290 "ConversationInterestingTermsExtractor needs to support Clients"
The ConversationInterestingTermsExtractor looks for interesting Terms (part of Keyword Extraction) in the Conversation Index.

This allows to suggest Keywords based on Topics mentioned in previous conversations.

However the current Implementation does not respect multiple clients but will search in Conversations of any Client. Because of this this component is deactivated at the moment.

With thi

[2018-09-28 05:14] westei opened #291 "Update Wikipedia Index"
Smarti uses an Solr Index with Wikipedia data for Keyword Extraction (Interesting Terms). This index needs to be updated for Solr 7 (see #248).

As part of this we should also update the index to use a current Wikipedia Dump